{% capture moduleId %}{{ id }}-pc{% endcapture %}

<div id="{{ moduleId }}" class="aplus__carousel">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for item in items %}
        <div class="swiper-slide" data-headline="{{ item.headline }}">
          {% capture cardId %}{{ moduleId }}-{{ forloop.index0 }}{% endcapture %}
          {% render 'aplus-image-card',
            id: cardId,
            imageUrl: item.imageUrl,
            coverUrl: item.coverUrl,
            videoUrl: item.videoUrl,
            thirdPartyVideo: item.thirdPartyVideo,
            title: item.headline,
            subtitle: item.subheadline,
            description: item.body,
            isSchemaData: isSchemaData
          %}
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

{% render 'aplus-carousel-script'
  swiperMode: swiperMode,
  moduleId: moduleId,
  items: items,
  noPagination: noPagination
%}