{% if section.settings %}
  {% assign config = section.settings %}
  {% assign isSchemaData = true %}
  {% assign id = section.id %}
{% endif %}

{% unless namespace %}
  {% assign namespace = 'aplus' %}
{% endunless %}

{% if key %}
{% if product.metafields[namespace][key].value %}
  {% assign config = product.metafields[namespace][key].value %}
{% else %}
  {% assign config = product.metafields[namespace][key] %}
{% endif %}

  {% assign isSchemaData = false %}
  {% assign id = key %}
{% endif %}

{% if isSchemaData %}
  {% assign items = section.blocks | map: 'settings' %}
{% else %}
  {% assign items = config.blocks %}
{% endif %}

<section id="{{id}}" class="aplus">
  {% unless config.headline == blank %}
    <div class="aplus-carousel-section-title flex-center">
      {{ config.headline }}
    </div>
  {% endunless %}
  <div class="aplus__pc">
    {%render 'aplus-pc-carousel-1',
      id: id,
      textBgBlack: true,
      noPagination: true,
      noArrow: true,
      items: items,
      isSchemaData: isSchemaData
    %}
    <ul class="aplus-navigation-tags vertical flex-column-center" aria-controls="{{id}}-pc">
      {% for item in items %}
        <li class="{% unless forloop.index0 > 0 %} active {% endunless %}" data-index="{{ forloop.index0 }}">
          <span>{{ forloop.index }}</span> {{ item.navigation }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="aplus__mobile">
    {%
      render 'aplus-mobile-carousel-2',
      id: id,
      noPagination: true,
      textBgBlack: true,
      textAlign: 'text-left',
      items: items,
      isSchemaData: isSchemaData
    %}
    <ul class="aplus-navigation-tags flex-column-center" aria-controls="{{id}}-mobile">
      {% for item in items %}
        <li class="{% unless forloop.index0 > 0 %} active {% endunless %}" data-index="{{ forloop.index0 }}" data-navigation="{{ item.navigation }}">
          <span>{{ forloop.index }}</span> {{ item.navigation }}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
