<div class="video-player-popup_{{div_id}}" style="display: none;">
	<div class="popup-box">
		<a class="closeVideo" ><i class="iconfont">&#xe723;</i></a>
		<div class="popup-lazyframe" data-ratio="16:9">
		</div>
	</div>
</div>
<style>
	.video-player-popup_{{div_id}} {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #202124;
		z-index: 2001;
	}
	.popup-box {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}	
	.popup-lazyframe {
		width: 100%;
		height: 100%;
		position: relative;
		background: #000!important;
	}
	.popup-lazyframe iframe {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
		width: 100%;
		height: 100%;
	}
	.closeVideo {
		position: absolute;
		top: 3%;
		right: 3%;
		width: 50px;
		height: 50px;
		line-height: 46px;
		text-align: center;
		border-radius: 50%;
		border: 2px solid rgba(95,99,104,.6);
		box-sizing: border-box;
		z-index: 11;
	}
	.closeVideo i {
		font-size: 14px;
		color: #cccfcc;
	}
</style>
<script>
	$(function() {
		$('.video-player-popup_{{div_id}} .closeVideo').on('click', function() {
			window['video_player_popup_{{div_id}}'].hide()
		})
    {% if open_click_event == true %}
      $('#{{div_id}}').on('click', function() {
        window['video_player_popup_{{div_id}}'].show()
      })
    {% endif %}
		window['video_player_popup_{{div_id}}'] = {
			show: function(url = '{{url}}') {
				var ratio = document.body.clientWidth > 769 ? '16:9' : '75:80'
				$('.video-player-popup_{{div_id}}').show()
				$('.video-player-popup_{{div_id}} .popup-lazyframe').attr('data-ratio', ratio).html(`<iframe src="${url}" frameborder="0" allow="autoplay; fullscreen; controls" allowfullscreen></iframe>`)
			},
			hide: function() {
				$('.video-player-popup_{{div_id}}').hide()
				$('.video-player-popup_{{div_id}} .popup-lazyframe').html('');
			}
		}
	})
</script>

