{% if template contains 'page' %}
  {% if page.metafields['global']['4g_camera_noFees'].value %}
    {% assign lang = page.metafields['global']['4g_camera_noFees'].value %}
  {% else %}
    {% assign lang = page.metafields['global']['4g_camera_noFees'] %}
  {% endif %}
{% else %}
  {% if product.metafields['global']['4g_camera_noFees'].value %}
    {% assign lang = product.metafields['global']['4g_camera_noFees'].value %}
  {% else %}
    {% assign lang = product.metafields['global']['4g_camera_noFees'] %}
  {% endif %}
{% endif %}

<section id="{{lang.id | default: 'camera-4g-noFees'}}" class="camera-4g-noFees">
  <div class="box-container">
    <div class="box-content">
      <h2 class="title">{{ lang.title }}</h2>
      <p class="desc">{{ lang.desc }}</p>
    </div>
    <div class="img_block">
      {% render 'lazyload_image',  
        src: lang.img_pc,
        additional_classes: "is-hidden-mobile-only"
        style: "opacity: 0;"
        alt: {{ lang.desc }} %}
      {% render 'lazyload_image',
        src: lang.img_mob,
        additional_classes: "is-hidden-desktop-only",
        style: "opacity: 0;"
        alt: {{ lang.desc }} %}
    </div>
  </div>
</section> 