<style>
{%- assign card_position = section.settings.card_position | split: ' ' -%}
{% for item in card_position -%}
	{% if forloop.index == 1 %}
	{% assign left = item %}
	{% else %}
	{% assign top = item %}
	{% endif %}
{%- endfor %}

@media(min-width: 769px) {
  .showMobile {
    display: none !important;
  }
  {%- assign column_count = section.settings.column_count | split: '-' -%}
  {% for item in column_count -%}
    {% if forloop.index == 1 %}
    {% assign grid_template_columns = item %}
    {% else %}
    {% assign grid_template_rows = item | replace: 'xx', section.settings.item_height %}
    {% endif %}
  {%- endfor %}
}

@media(max-width: 769px) {
  .showPc {
    display: none !important;
  }
  {%- assign mobile_column_count = section.settings.mobile_column_count | split: '-' -%}
  {% for item in mobile_column_count -%}
    {% if forloop.index == 1 %}
    {% assign mobile_grid_template_columns = item %}
    {% else %}
    {% assign mobile_grid_template_rows = item | replace: 'xx', section.settings.mobile_item_height %}
    {% endif %}
  {%- endfor %}
}

.component_nano_pro_{{section.id}} {
  display: grid;
  grid-row-gap: {{ section.settings.column_count_gap }};
  grid-column-gap: {{ section.settings.column_count_gap }};
  grid-template-columns: {{ grid_template_columns }};
  grid-template-rows: {{ grid_template_rows }};
  width: 100%;
  max-width: {{section.settings.max_width}};
  padding: {{section.settings.box_padding}};
  background: {{section.settings.box_bg}};
  margin: 0 auto;
}

.component_nano_pro_{{section.id}} .nano_pro_item {
  display: flex;
  justify-content: {{left}};
  align-items: {{top}};
  border-radius: 12px;
  padding: 20px;
  position: relative;
  min-height: {{section.settings.item_height}}
}
.component_nano_pro_{{section.id}} .item-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
}
.component_nano_pro_{{section.id}} .item-image img {
  width: 100%;
}
.component_nano_pro_{{section.id}} .nano_pro_item .item-div {
  position: relative;
  font-family: {{section.settings.content_font_family}};
  text-align: {{section.settings.content_text_align}};
  position: relative;
  z-index: 2;
}
.component_nano_pro_{{section.id}} .nano_pro_item .item-div .product_title {
  font-size: {{section.settings.product_title_font_size}};
  color: {{section.settings.product_title_color}};
  font-weight: {{section.settings.product_title_font_weight}};
  line-height: 1.5;
}
.component_nano_pro_{{section.id}} .nano_pro_item .item-div .product_desc {
  font-size: {{section.settings.product_desc_font_size}};
  color: {{section.settings.product_desc_color}};
  line-height: 1.5;
}
.component_nano_pro_{{section.id}} .nano_pro_item .item-div .product_button {
  font-size: {{section.settings.button_txt_font_size}};
  color: {{section.settings.button_txt_color}};
  padding: {{section.settings.button_padding}};
  background: {{section.settings.button_bg}};
  border: 1px solid;
  border-color: {{section.settings.button_border_color}};
  border-radius: 70px;
  margin-top: 10px;
  display: inline-block;
}
.component_nano_pro_{{section.id}} .nano_pro_item .item-div .product_button:hover {
  border-color: {{section.settings.button_hover_border_color}};
  background: {{section.settings.button_hover_bg}};
  color: {{section.settings.button_hover_txt_color}};
}
@media(max-width: 769px) {
  .component_nano_pro_{{section.id}} {
    padding: {{section.settings.mobile_box_padding}};
    grid-template-columns: {{ mobile_grid_template_columns }};
    grid-template-rows: {{ mobile_grid_template_rows }};
    grid-row-gap: {{ section.settings.mobile_column_count_gap }};
    grid-column-gap: {{ section.settings.mobile_column_count_gap }};
  }
  .component_nano_pro_{{section.id}} .nano_pro_item {
    min-height: {{section.settings.mobile_item_height}};
  }
  .component_nano_pro_{{section.id}} .nano_pro_item .item-div .product_title {
    font-size: {{section.settings.mobile_product_title_font_size}};
  }
  .component_nano_pro_{{section.id}} .nano_pro_item .item-div .product_desc {
    font-size: {{section.settings.mobile_product_desc_font_size}};
  }
  .component_nano_pro_{{section.id}} .nano_pro_item .item-div .product_button {
    padding: {{section.settings.mobile_button_padding}};
    font-size: {{section.settings.mobile_button_txt_font_size}};
  }
}
</style>

<div class="component_nano_pro_{{section.id}}">
  {% for block in section.blocks %}
  <style>
  .component_nano_pro_{{section.id}} .nano_pro_item_{{forloop.index}} {
    background-color: {{ block.settings.item_bg }};
  }
  @media(min-width: 769px) {
    .component_nano_pro_{{section.id}} .nano_pro_item_{{forloop.index}} {
      {% if block.settings.grid_column_start != blank and  block.settings.grid_column_end != blank %}
      grid-column-start: {{ block.settings.grid_column_start }};
      grid-column-end: {{ block.settings.grid_column_end }};
      {% endif %}
      {% if block.settings.grid_row_start != blank and  block.settings.grid_row_end != blank %}
      grid-row-start: {{ block.settings.grid_row_start }};
      grid-row-end: {{ block.settings.grid_row_end }};
      {% endif %}
    }
  }
  @media(max-width: 769px) {
    .component_nano_pro_{{section.id}} .nano_pro_item_{{forloop.index}} {
      {% if block.settings.mobile_grid_column_start != blank and  block.settings.mobile_grid_column_end != blank %}
      grid-column-start: {{ block.settings.mobile_grid_column_start }};
      grid-column-end: {{ block.settings.mobile_grid_column_end }};
      {% endif %}
      {% if block.settings.mobile_grid_row_start != blank and  block.settings.mobile_grid_row_end != blank %}
      grid-row-start: {{ block.settings.mobile_grid_row_start }};
      grid-row-end: {{ block.settings.mobile_grid_row_end }};
      {% endif %}
    }
  }
  
  </style>
  <div class="nano_pro_item nano_pro_item_{{forloop.index}}">
    <div class="item-div">
      {% if block.settings.product_title != blank %}
      <div class="product_title">{{ block.settings.product_title }}</div>
      {% endif %}
      {% if block.settings.product_desc != blank %}
      <div class="product_desc">{{ block.settings.product_desc }}</div>
      {% endif %}
      {% if block.settings.button_txt != blank %}
      <a href="{{ block.settings.button_href }}?ref={{section.settings.eventCategory}}" class="product_button">{{ block.settings.button_txt }}</a>
      {% endif %}
    </div>
    {% if block.settings.product_image != blank %}
    <div class="item-image">
      <img class="showPc" src="{{ block.settings.product_image | image_url }}" />
      <img class="showMobile" src="{{ block.settings.mobile_product_image | image_url }}" />
    </div>
    {% endif %} 
  </div>
  {% endfor %}
</div>

<script>
$(function() {
  $('.component_nano_pro_{{section.id}} .product_button').on('click', function() {
    let eventLabel = $(this).attr('href')
    window.dataLayer.push({
      "event": "uaEvent", 
      "eventCategory": '{{section.settings.eventCategory}}',
      "eventAction": window.location.href, //取当前活动页URL
      "eventLabel": eventLabel //取跳转页面URL
    })
  })
})
</script>

{% schema %}
  {
    "name": "component_multi_banner",
		"presets": [
			{
				"name": "component_multi_banner"
			}
		],
    "settings": [
      {
        "type": "header",
        "content": "埋点相关"
      },
      {
        "type": "text",
        "id": "eventCategory",
        "label": "eventCategory",
        "default": "multi_image_template"
      },
      {
        "type": "header",
        "content": "结构方面"
      },
      {
        "type": "select",
        "id": "max_width",
        "label": "section区域最大宽度",
        "options": [
          {
            "label": "多图展示模块最大宽度",
            "value": "800px"
          }
        ],
        "default": "800px"
      },
      {
        "type": "select",
        "id": "item_height",
        "label": "每项的高度",
        "options": [
          {
            "label": "254px",
            "value": "254px"
          },
          {
            "label": "410px",
            "value": "410px"
          }
        ],
        "default": "254px"
      },
      {
        "type": "select",
        "id": "mobile_item_height",
        "label": "Mobile每项的高度",
        "options": [
          {
            "label": "150px",
            "value": "150px"
          },
          {
            "label": "200px",
            "value": "200px"
          }
        ],
        "default": "150px"
      },
      {
        "type": "select",
        "id": "auto_flow",
        "label": "排列方式",
        "info": "横向排列排列代表卡片从左到右排列，纵向排列代表卡片从上往下排列",
        "options": [
          {
            "label": "横向排列",
            "value": "row dense"
          },
          {
            "label": "纵向排列",
            "value": "column dense"
          }
        ],
        "default": "row dense"
      },
      {
        "type": "select",
        "id": "column_count",
        "label": "一行排列多少个",
        "info": "xx：代表占位符",
        "options": [
          {
            "label": "一行两列",
            "value": "repeat(2, 1fr)-xx"
          },
          {
            "label": "一行三列",
            "value": "repeat(3, 1fr)-xx"
          },
          {
            "label": "两行两列",
            "value": "repeat(2, 1fr)-xx xx"
          },
          {
            "label": "两行三列",
            "value": "repeat(3, 1fr)-xx xx"
          }
        ],
        "default": "repeat(2, 1fr)-xx"
      },
      {
        "type": "select",
        "id": "mobile_column_count",
        "label": "移动端一行排列多少个",
        "info": "xx：代表占位符",
        "options": [
          {
            "label": "一行两列",
            "value": "repeat(2, 1fr)-xx"
          },
          {
            "label": "两行两列",
            "value": "repeat(2, 1fr)-xx xx"
          },
          {
            "label": "两行一列",
            "value": "1fr-xx xx"
          },
          {
            "label": "三行一列",
            "value": "1fr-xx xx xx"
          }
        ],
        "default": "repeat(2, 1fr)-xx"
      },
      {
        "type": "text",
        "id": "column_count_gap",
        "label": "卡片的间距",
        "info": "保持默认值",
        "default": "20px"
      },
      {
        "type": "text",
        "id": "mobile_column_count_gap",
        "label": "Mobile卡片的间距",
        "info": "保持默认值",
        "default": "10px"
      },
      {
        "type": "text",
        "id": "box_padding",
        "label": "section的内边距",
        "info": "用于产生间隔",
        "default": "20px 0"
      },
      {
        "type": "text",
        "id": "mobile_box_padding",
        "label": "Mobile端section的内边距（保持默认值！）",
        "info": "用于产生间隔",
        "default": "10px"
      },
      {
        "type": "color",
        "id": "box_bg",
        "label": "section背景色"
      },
      {
        "type": "header",
        "content": "卡片的文本区域"
      },
      {
        "type": "select",
        "id": "card_position",
        "label": "文本区域位置",
        "options": [
          {
            "label": "左上",
            "value": "flex-start flex-start"
          },
          {
            "label": "中上",
            "value": "center flex-start"
          },
          {
            "label": "右上",
            "value": "flex-end flex-start"
          },
          {
            "label": "左中",
            "value": "flex-start center"
          },
          {
            "label": "正中心",
            "value": "center center"
          },
          {
            "label": "右中",
            "value": "flex-end center"
          },
          {
            "label": "左下",
            "value": "flex-start flex-end"
          },
          {
            "label": "中下",
            "value": "center flex-end"
          },
          {
            "label": "右下",
            "value": "flex-end flex-end"
          }
        ],
        "default": "flex-start flex-start"
      },
      {
        "type": "select",
        "id": "content_text_align",
        "label": "文本对齐方式",
        "options": [
          {
            "label": "居左",
            "value": "left"
          },
          {
            "label": "居中",
            "value": "center"
          },
          {
            "label": "居右",
            "value": "right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "content_font_family",
        "label": "内容区字体",
        "default": "Arial",
        "info": "这里聚齐了所有品牌站点的字体，请选择该品牌已有的字体",
				"options": [
					{
						"value": "DINNextLT",
						"label": "DINNextLT"
					},
					{
						"value": "Helvetica",
						"label": "Helvetica"
					},
					{
						"value": "Arial",
						"label": "Arial"
					},
          {
            "value": "Avenir Next",
            "label": "Avenir Next"
          },
          {
            "value": "Helvetica Neue",
            "label": "Helvetica Neue"
          },
          {
            "value": "",
            "label": "系统默认字体"
          }
				]
      },
      {
        "type": "color",
        "id": "product_title_color",
        "label": "产品标题颜色",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "product_title_font_size",
        "label": "产品标题大小",
        "default": "28px"
      },
      {
        "type": "text",
        "id": "mobile_product_title_font_size",
        "label": "移动端产品标题大小",
        "default": "20px"
      },
      {
        "type": "select",
        "id": "product_title_font_weight",
        "label": "产品标题粗细",
        "options": [
          {
            "value": "bold",
            "label": "bold"
          },
          {
            "value": "normal",
            "label": "normal"
          }
        ],
        "default": "bold"
      },
      {
        "type": "color",
        "id": "product_desc_color",
        "label": "产品描述颜色",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "product_desc_font_size",
        "label": "产品描述大小",
        "default": "18px"
      },
      {
        "type": "text",
        "id": "mobile_product_desc_font_size",
        "label": "移动端产品描述大小",
        "default": "14px"
      },
      {
        "type": "text",
        "id": "button_padding",
        "label": "按钮内边距",
        "default": "6px 20px"
      },
      {
        "type": "text",
        "id": "mobile_button_padding",
        "label": "移动端按钮内边距",
        "default": "4px 8px"
      },
      {
        "type": "color",
        "id": "button_bg",
        "label": "按钮背景色",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "button_border_color",
        "label": "按钮边框颜色",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "button_txt_color",
        "label": "按钮文案颜色",
        "default": "#333333"
      },
      {
        "type": "text",
        "id": "button_txt_font_size",
        "label": "按钮文案大小",
        "default": "16px"
      },
      {
        "type": "text",
        "id": "mobile_button_txt_font_size",
        "label": "移动端按钮文案大小",
        "default": "12px"
      },
      {
        "type": "header",
        "content": "按钮hover时的配置"
      },
      {
        "type": "color",
        "id": "button_hover_bg",
        "label": "按钮hover时背景色",
        "default": "#00a9e1"
      },
      {
        "type": "color",
        "id": "button_hover_border_color",
        "label": "按钮hover时边框颜色",
        "default": "#00a9e1"
      },
      {
        "type": "color",
        "id": "button_hover_txt_color",
        "label": "按钮hover时文案颜色",
        "default": "#ffffff"
      }
    ],
    "blocks": [
      {
        "type": "Nano_item",
			  "name": "Nano_item",
        "settings": [
          {
            "type": "header",
            "content": "不等分情况说明"
          },
          {
            "type": "paragraph",
            "content": "整体结构采用网格布局，如果产生 n * m个单元格，那么网格线就有 n+1条 水平网格线和 m+1条 垂直网格线，可以画一个田字格理解。"
          },
          {
            "type": "select",
            "id": "grid_column_start",
            "label": "代表卡片从第几列开始",
            "info": "非等分的时候需要设置",
            "options": [
              {
                "label": "回归等分",
                "value": ""
              },
              {
                "label": "第一列",
                "value": "1"
              },
              {
                "label": "第二列",
                "value": "2"
              },
              {
                "label": "第三列",
                "value": "3"
              },
              {
                "label": "第四列",
                "value": "4"
              }
            ],
            "default": ""
          },
          {
            "type": "select",
            "id": "grid_column_end",
            "label": "代表卡片从第几列结束",
            "info": "非等分的时候需要设置",
            "options": [
              {
                "label": "回归等分",
                "value": ""
              },
              {
                "label": "第一列",
                "value": "1"
              },
              {
                "label": "第二列",
                "value": "2"
              },
              {
                "label": "第三列",
                "value": "3"
              },
              {
                "label": "第四列",
                "value": "4"
              }
            ],
            "default": ""
          },
          {
            "type": "select",
            "id": "mobile_grid_column_start",
            "label": "Mobile端代表卡片从第几列开始",
            "info": "非等分的时候需要设置",
            "options": [
              {
                "label": "回归等分",
                "value": ""
              },
              {
                "label": "第一列",
                "value": "1"
              },
              {
                "label": "第二列",
                "value": "2"
              },
              {
                "label": "第三列",
                "value": "3"
              },
              {
                "label": "第四列",
                "value": "4"
              }
            ],
            "default": ""
          },
          {
            "type": "select",
            "id": "mobile_grid_column_end",
            "label": "Mobile端代表卡片从第几列结束",
            "info": "非等分的时候需要设置",
            "options": [
              {
                "label": "回归等分",
                "value": ""
              },
              {
                "label": "第一列",
                "value": "1"
              },
              {
                "label": "第二列",
                "value": "2"
              },
              {
                "label": "第三列",
                "value": "3"
              },
              {
                "label": "第四列",
                "value": "4"
              }
            ],
            "default": ""
          },
          {
            "type": "select",
            "id": "grid_row_start",
            "label": "代表卡片从第几行开始",
            "info": "非等分的时候需要设置",
            "options": [
              {
                "label": "回归等分",
                "value": ""
              },
              {
                "label": "第一行",
                "value": "1"
              },
              {
                "label": "第二行",
                "value": "2"
              },
              {
                "label": "第三行",
                "value": "3"
              }
            ],
            "default": ""
          },
          {
            "type": "select",
            "id": "grid_row_end",
            "label": "代表卡片从第几行结束",
            "info": "非等分的时候需要设置",
            "options": [
              {
                "label": "回归等分",
                "value": ""
              },
              {
                "label": "第一行",
                "value": "1"
              },
              {
                "label": "第二行",
                "value": "2"
              },
              {
                "label": "第三行",
                "value": "3"
              }
            ],
            "default": ""
          },
          {
            "type": "select",
            "id": "mobile_grid_row_start",
            "label": "Mobile端代表卡片从第几行开始",
            "info": "非等分的时候需要设置",
            "options": [
              {
                "label": "回归等分",
                "value": ""
              },
              {
                "label": "第一行",
                "value": "1"
              },
              {
                "label": "第二行",
                "value": "2"
              },
              {
                "label": "第三行",
                "value": "3"
              }
            ],
            "default": ""
          },
          {
            "type": "select",
            "id": "mobile_grid_row_end",
            "label": "Mobile端代表卡片从第几行结束",
            "info": "非等分的时候需要设置",
            "options": [
              {
                "label": "回归等分",
                "value": ""
              },
              {
                "label": "第一行",
                "value": "1"
              },
              {
                "label": "第二行",
                "value": "2"
              },
              {
                "label": "第三行",
                "value": "3"
              }
            ],
            "default": ""
          },
          {
            "type": "text",
            "id": "product_title",
            "label": "产品标题",
            "info": "产品标题可自定义"
          },
          {
            "type": "text",
            "id": "product_desc",
            "label": "产品描述",
            "info": "自定义的产品描述",
            "default": "product_desc"
          },
          {
            "type": "text",
            "id": "button_txt",
            "label": "按钮文案",
            "default": "Learn More"
          },
          {
            "type": "url",
            "id": "button_href",
            "label": "按钮跳转的链接"
          },
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "上传的背景图"
          },
          {
            "type": "paragraph",
            "content": "图片尺寸说明：PC端 最小单元格： 254 * 254 中等单元格：390 * 254 不等分单元格： 528 * 254。高度其实是上方选择的高度。 Mobile端： 最小单元格：180* 150 最大单元格：370 * 150。 当上传的图片不符合尺寸时，会采用宽度会填充满，高度会自适应，保持图片的原有比例"
          },
          {
            "type": "image_picker",
            "id": "mobile_product_image",
            "label": "Mobile端的背景图"
          },
          {
            "type": "color",
            "id": "item_bg",
            "label": "卡片的背景色",
            "info": "一般用于品牌介绍，如果不上传图片当背景色，可以自定义设置背景色"
          }
        ]
      }
    ]
  }
{% endschema %}