{% assign lang = product.metafields.global %}

{% if lang.dogcam.value %}
  {% assign dogcam = lang.dogcam.value %}
{% else %}
  {% assign dogcam = lang.dogcam %}
{% endif %}

<link rel="stylesheet" href="{{ 'eufy_dogcam_ct.scss.css' | asset_url }}">
<script src="{{ 'eufy_dogcam_ct.js' | asset_url }}" defer="defer"></script>


<div class="eufy_dogcam_4">
  <div class="banner_4">
    <p class="banner_4_p1 pc_show">{{ dogcam.banner_4_p1 }}</p>
    <p class="banner_4_p2 pc_show">{{ dogcam.banner_4_p2 }}</p>
    <div class="banner_4_content">
      <img class="pc_show lazyload" data-src="{{ dogcam.banner_4_img1 }}" alt="">
      <img class="mob_show lazyload" data-src="{{ dogcam.banner_4_img1_mob }}" alt="">
      <div class="banner_4_word">
        <img class="lazyload" data-src="{{ dogcam.banner_4_img2 }}" alt="">
        <p class="banner_4_word_content">{{ dogcam.banner_4_word_content }}</p>
      </div>
    </div>
    <p class="banner_4_p1 mob_show">{{ dogcam.banner_4_p1 }}</p>
    <p class="banner_4_p2 mob_show">{{ dogcam.banner_4_p2 }}</p>
  </div>
</div>