{% assign lang = product.metafields.global %}

{% if lang.monitor.value %}
  {% assign monitor = lang.monitor.value %}
{% else %}
  {% assign monitor = lang.monitor %}
{% endif %}



<div class="eufycare_monitor_7">
  <div class="banner_7">
    <div class="contain_1">
      <div class="banner_7_content">
        <img class="pc1_show lazyload" data-src="{{ monitor.bg7_img }}" alt="">
        <img class="mob1_show lazyload" data-src="{{ monitor.bg7_img_mob }}" alt="">
        <div class="banner_bg7_content">
          <p class="bg7_p1">{{ monitor.bg7_p1 }}</p>
          <p class="bg7_p2">{{ monitor.bg7_p2 }}</p>
        </div>
        <div class="bg7_32g">
          <img class="pc1_show lazyload" data-src="{{ monitor.bg7_32g }}" alt="">
          <img class="mob1_show lazyload" data-src="{{ monitor.bg7_32g_mob }}" alt="">
        </div>
        <div class="bg7_32g_svg">
          <img class="pc1_show lazyload" data-src="{{ monitor.bg7_32g_svg }}" alt="">
          <img class="mob1_show lazyload" data-src="{{ monitor.bg7_32g_svg_mob }}" alt="">
        </div>
        <div class="baby_all pc1_show">
          <div class="baby_1">
            <img class="lazyload" data-src="{{ monitor.baby_1 }}" alt="">
          </div>
        </div>
        <div class="baby_all_mob mob1_show">
          <div class="baby_1_mob">
            <img class="lazyload" data-src="{{ monitor.baby_1_mob }}" alt="">
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

