{% assign lang = product.metafields.global %}

{% if lang.monitor.value %}
  {% assign monitor = lang.monitor.value %}
{% else %}
  {% assign monitor = lang.monitor %}
{% endif %}



<div class="eufycare_monitor_3">
  <div class="banner_3">
    <div class="contain_1">
      <div class="banner_3_content">
        <img class="pc1_show lazyload" data-src="{{ monitor.bg3a_img }}" alt="">
        <img class="mob1_show lazyload" data-src="{{ monitor.bg3a_img_mob }}" alt="">
        <div class="banner_bg3a_content">
          <p class="bg3a_p1">{{ monitor.bg3a_p1 }}</p>
          <p class="bg3a_p2">{{ monitor.bg3a_p2 }}</p>
          <div class="bg3a_icon pc1_show">
            <img class="lazyload" data-src="{{ monitor.bg3a_icon }}" alt="">
          </div>
        </div>
        <div class="banner_3_btm"></div>
        <div class="banner_3_b" style="height:auto;">
          <img class="pc1_show lazyload" data-src="{{ monitor.bg3b_img }}" alt="">
          <img class="mob1_show lazyload" data-src="{{ monitor.bg3b_img_mob }}" alt="">
          <div class="banner_bg3b_content">
            <p class="bg3b_p1">{{ monitor.bg3b_p1 }}</p>
            <p class="bg3b_p2">{{ monitor.bg3b_p2 }}</p>
          </div>
          <div class="banner_bg3b_m pc1_show">
            <img class="lazyload" data-src="{{ monitor.banner_bg3b_m }}" alt="">
          </div>
          <div class="banner_bg3b_m_mob mob1_show">
            <img class="lazyload" data-src="{{ monitor.banner_bg3b_m }}" alt="">
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>
