{% assign lang = page.metafields['global'] %}

{% if lang.productListing.value %}
  {% assign productListing = lang.productListing.value %}
{% else %}
  {% assign productListing = lang.productListing %}
{% endif %}

{% if lang.nav_list.value %}
  {% assign nav_list = lang.nav_list.value %}
{% else %}
  {% assign nav_list = lang.nav_list %}
{% endif %}


{% assign nav = nav_list | split: "," %}
  
  <div class="top_bar">
    <div class="top_bar_box">
      <div class="left-part">
        <div class="title">{{ productListing.name }}</div>
        <a
          class="button is-hidden-desktop-only"
          target="_blank" rel="noopener noreferrer"
          href="{{ productListing.href }}"
        >{{ productListing.button_txt }}</a>
      </div>
      <div class="right-part">
        <div class="nav">
          {% for item in nav %}
            {% assign arr = item | split: ":" %}
            {% assign lable = arr | reverse %}
            <a class="nav_item" data-eventlabel = ' {{ lable.first }} '>{{ lable.first }}</a>
          {% endfor %}
        </div>
        <a
          class="button button_buy_now is-hidden-mobile-only"
          target="_blank" rel="noopener noreferrer"
          href="{{ productListing.href }}"
        >{{ productListing.button_txt }}</a>
      </div>
    </div>
  </div>

  <style>
    #shopify-section-{{ section.id }} {
      position: sticky;
      top: 0; z-index: 19;
    }
    .top_bar {
      background: #fff;
      width: 100%;
      border-bottom: 0.5px solid #ababab;
      border-top: 0.5px solid #ababab;
    }
    .top_bar .top_bar_box {
      width: 100%;
      max-width: 1200px; margin: 0 auto; padding: 10px 0;
      display: flex; align-items: center; justify-content: space-between;
    }
    .top_bar .right-part {
      display: flex;
      align-items: center;
      padding: 0 4%;
    }
    .top_bar .left-part {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 0 4%;
      justify-content: space-between;
    }
    .top_bar .nav {
      display: flex; justify-content: space-between;
    }
    .top_bar .nav_item {
      color: #333;
      font-size: 16px;
      margin: 0 2rem; padding: 10px 0;
      position: relative;
    }
    .top_bar .nav_item::after {
      content: "";
      position: absolute;
      bottom: 0; left: 0;
      width: 100%; height: 2px;
      background-color: #21d2c5;
      transition: .2s;
      transform: scale(0);
    }
    .top_bar .nav_item.active {
      color: #21D2C5; font-weight: 600;
    }
    .top_bar .nav_item.active::after { transform: scale(1); }
    .top_bar .title { font-size: 16px; margin: 0; }
    .top_bar .button {
      background: #fff; color: #21D2C5; font-size: 16px;
      height: 44px; line-height: 44px; border-radius: 22px;
      padding: 0 2rem; font-weight: 600;
      border: 2px solid #21D2C5;
    }
    .top_bar .button:hover{
      background:#21D2C5 ;
      color: #fff;
    }
    @media screen and (max-width: 768px) {
      .top_bar .top_bar_box { flex-direction: column; padding: 5px 0; }
      .top_bar .right-part, .top_bar .nav { width: 100%; }
      .top_bar .nav_item { font-size: 14px; margin: 0 6px; padding: 5px 0; }
      .top_bar .button { font-size: 14px;  height: 36px; line-height: 36px; }
    }
  </style>


  <script src="{{ 'gsap.min.js' | asset_url }}" defer></script>
  <script src="{{ 'ScrollTrigger.min.js' | asset_url }}" defer></script>
  <script>
    {% comment %} $(document).ready(function() {
      const width = window.innerWidth
      gsap.registerPlugin(ScrollTrigger)
      // 导航动画
      ScrollTrigger.create({
        trigger: "#overview",
        start: 'top top',
        end: '+=0',
        //markers: true,
        onEnter: () => {
          gsap.to('.top_bar', { height: document.body.offsetWidth > 768 ? 65 : 78 })
        },
        onEnterBack: () => {
          gsap.to('.top_bar', { height: 0 })
        }
      })
    }) {% endcomment %}

    window.onload = function() {
      // 导航交互
      let navlist = "{{ nav_list }}"
      let scrollPoint = []
      let isNavClick = true
      let offset = 65
      init()

      function init() {
        navlist && dataInit()
        event()
        scroll()
      }
      function dataInit() {
        const arr = navlist.split(',')
        arr.map(item => {
          let target = item.split(':')
          scrollPoint.push(target[0])
        })
      }
      function getScrollOffset() {
        let arr = []
        scrollPoint.map(item => {
          $(`#${item}`) && arr.push($(`#${item}`).offset().top - offset)
        })
        arr[0] = 0
        return arr
      }
      $('.nav_item').on('click',function(){
        dataLayer.push({
          "event": "uaEvent", // Trigger
          "eventCategory": '{{ productListing.eventCategory }}',
          "eventAction": "navi",
          "eventLabel":$(this).attr('data-eventlabel'),
          "nonInteraction": true, 
        })
      })
      $('.button_buy_now').on('click',function(){
        dataLayer.push({
          "event": "uaEvent", // Trigger
          "eventCategory": '{{ productListing.eventCategory }}',
          "eventAction": "navi",
          "eventLabel":'buy_now',
          "nonInteraction": true, 
        })
      })
      function event() {
        $('.nav_item').eq(0).addClass('active')
        $('.nav_item').on('click', function() {
          const idx = $(this).index()
          const arr = getScrollOffset()
          isNavClick = false
          $(this).addClass('active').siblings().removeClass('active')
          $('html,body').animate({
            scrollTop: arr[idx]
          }, 500, 'swing', function () {
            isNavClick = true
          })
        })
      }
      function navAct(idx) {
        $('.nav_item').eq(idx).addClass('active').siblings().removeClass('active')
      }
      function scroll() {
        let timer
        document.addEventListener('scroll', function() {
          const scrollTop = $(window).scrollTop() + 10
          const stArr = getScrollOffset()
          console.log(stArr,$(`#${'specs'}`).offset().top - 65);
          timer && clearTimeout(timer)
          if(isNavClick) {
            if(scrollTop >= stArr[0] && scrollTop < stArr[1]) {
              navAct(0)
            } else if (scrollTop >= stArr[1] && scrollTop < stArr[2]) {
              navAct(1)
            } else if (scrollTop >= stArr[2] ) {
              navAct(2)
            } else if (scrollTop >= stArr[3]) {
              navAct(3)
            }
          }
        })
      }
    }
  </script>
  
  {% schema %}
  {
    "name": "gsap_top_bar",
    "presets": [
      {
        "name": "gsap_top_bar"
      }
    ]
  }
  {% endschema %}