{% style %}
#shopify-section-{{ section.id }} .image-with-text-box{
  {% if section.settings.bg_color != blank %}
    background-color: {{ section.settings.bg_color }};
  {% endif %}

  {% if section.settings.border_radius != 0 %}
    border-radius: {{ section.settings.border_radius }}px;
  {% endif %}
}
@media screen and (max-width: 768px) {
  #shopify-section-{{ section.id }} .image-with-text-column{
    {% if section.settings.mb_padding_y != 0 %}
      padding-top: {{ section.settings.mb_padding_y }}px;
      padding-bottom: {{ section.settings.mb_padding_y }}px;
    {% endif %}

    {% if section.settings.mb_padding_x != 0 %}
      padding-left: {{ section.settings.mb_padding_x }}px;
      padding-right: {{ section.settings.mb_padding_x }}px;
    {% endif %}
  }

  #shopify-section-{{ section.id }} .image-with-text-box{
    {% if section.settings.mb_box_padding_y != 0 %}
      padding-top: {{ section.settings.mb_box_padding_y }}px;
      padding-bottom: {{ section.settings.mb_box_padding_y }}px;
    {% endif %}

    {% if section.settings.mb_box_padding_x != 0 %}
      padding-left: {{ section.settings.mb_box_padding_x }}px;
      padding-right: {{ section.settings.mb_box_padding_x }}px;
    {% endif %}
  }

  #shopify-section-{{ section.id }} .iwt-info-column{
    {% if section.settings.mb_info_padding != blank %}
      padding: {{ section.settings.mb_info_padding }};
    {% endif %}
  }
}

@media screen and (min-width: 769px) {
  #shopify-section-{{ section.id }} .image-with-text-column{
    {% if section.settings.padding_y != 0 %}
      padding-top: {{ section.settings.padding_y | divided_by: 19.2 }}vw;
      padding-bottom: {{ section.settings.padding_y | divided_by: 19.2 }}vw;
    {% endif %}

    {% if section.settings.padding_x != 0 %}
      padding-left: {{ section.settings.padding_x | divided_by: 19.2 }}vw;
      padding-right: {{ section.settings.padding_x | divided_by: 19.2 }}vw;
    {% endif %}
  }

  #shopify-section-{{ section.id }} .image-with-text-box{
    {% if section.settings.box_padding_y != 0 %}
      padding-top: {{ section.settings.box_padding_y | divided_by: 19.2 }}vw;
      padding-bottom: {{ section.settings.box_padding_y | divided_by: 19.2 }}vw;
    {% endif %}

    {% if section.settings.box_padding_x != 0 %}
      padding-left: {{ section.settings.box_padding_x | divided_by: 19.2 }}vw;
      padding-right: {{ section.settings.box_padding_x | divided_by: 19.2 }}vw;
    {% endif %}

    {% if section.settings.box_width != 0 %}
      max-width: {{ section.settings.box_width | divided_by: 19.2 }}vw;
    {% endif %}
  }
}

{% if section.settings.custom_css != blank %}
  {{ section.settings.custom_css }}
{% endif %}
{% endstyle %}

<section class="ps-ret image-with-text-column {{ section.settings.custom_class }}" {% if section.settings.id != blank %}id="{{ section.settings.id }}"{% endif %}>
  <div class="ps-ret image-with-text-box iwt-order-{{ section.settings.desktop_order }} mb-iwt-order-{{ section.settings.mobile_order }} iwt-vertical-{{ section.settings.desktop_vertical_alignment }} iwt-horizontal-{{ section.settings.desktop_horizontal_alignment }} txt-{{ section.settings.desktop_content_alignment }} mb-txt-{{ section.settings.mobile_content_alignment }}">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'image' %}
        <div class="iwt-img-column">
          {% render 'section-img'
             section: section,
             block: block,
             imgtag: 'image'
          %}
        </div>
        {% when 'video' %}
        <div class="iwt-img-column">
          {% render 'section-video'
             section: section,
             block: block,
             imgtag: 'image'
          %}
        </div>
      {% endcase %}
    {% endfor %}
    <div class="iwt-info-column">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'heading' %}
        <p class="sec-title-middle">{{ block.settings.heading }}</p>

        {% when 'text' %}
        {% capture des_style %}{% if block.settings.text_width != 0 %}max-width:{{ block.settings.text_width }}px;{% endif %}{% endcapture %}
        {% capture des_cls %}{% if block.settings.text_style == 'custom' %}{{ block.settings.custom_text_style }}{% else %}sec-description {{ block.settings.text_style }}{% endif %}{% endcapture %}
        <p class="{{ des_cls }}" {% if des_style != blank %}style="{{ des_style }}"{% endif %}>{{ block.settings.text }}</p>

        {% when 'link' %}
        <p class="sec-link-wrap">
          <a class="sec-link {{ block.settings.custom_class }}" {% if block.settings.href != blank %}href="{{ block.settings.href }}"{% endif %} {% if block.settings.new_tab == true %}target="_blank"{% endif %}>{{ block.settings.link_content }}</a>
        </p>

        {% when 'html' %}
        <div class="sec-html-wrap">
          {% if block.settings.html != blank %}
            {{ block.settings.html }}
          {% endif %}
        </div>

        {% when 'text-image' %}
        {% render 'section-img'
           section: section,
           block: block,
           imgtag: 'image'
        %}
      {% endcase %}
    {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "image with text column",
  "presets": [
    {
      "category": "image with text column",
      "name": "image with text column",
      "blocks":[{
        "type": "image"
      },{
        "type": "heading"
      },{
        "type": "text"
      }]
    }
  ],
  "settings": [{
    "type": "header",
    "content": "桌面端设置"
  },{
    "type": "number",
    "id": "padding_y",
    "label": "外容器上下内边距",
    "default": 0
  },{
    "type": "number",
    "id": "padding_x",
    "label": "外容器左右内边距",
    "default": 0
  },{
    "type": "number",
    "id": "box_padding_y",
    "label": "内容器上下内边距",
    "default": 0
  },{
    "type": "number",
    "id": "box_padding_x",
    "label": "内容器左右内边距",
    "default": 0
  },{
    "type": "number",
    "id": "box_width",
    "label": "内容器宽度",
    "default": 0
  },{
    "type": "select",
    "id": "desktop_order",
    "options": [
      {
        "value": "forward",
        "label": "左图右文"
      },
      {
        "value": "reverse",
        "label": "右图左文"
      }
    ],
    "default": "forward",
    "label": "内容布局方式"
  },{
    "type": "select",
    "id": "desktop_horizontal_alignment",
    "options": [
      {
        "value": "left",
        "label": "左对齐"
      },
      {
        "value": "center",
        "label": "居中"
      },
      {
        "value": "right",
        "label": "右对齐"
      }
    ],
    "default": "center",
    "label": "内容水平对齐方式"
  },{
    "type": "select",
    "id": "desktop_vertical_alignment",
    "options": [
      {
        "value": "top",
        "label": "居顶"
      },
      {
        "value": "center",
        "label": "居中"
      },
      {
        "value": "bottom",
        "label": "居底"
      }
    ],
    "default": "center",
    "label": "内容垂直对齐方式"
  },{
    "type": "select",
    "id": "desktop_content_alignment",
    "options": [
      {
        "value": "left",
        "label": "左对齐"
      },
      {
        "value": "center",
        "label": "居中"
      },
      {
        "value": "right",
        "label": "右对齐"
      }
    ],
    "default": "left",
    "label": "文本对齐方式"
  },{
    "type": "header",
    "content": "移动端设置"
  },{
    "type": "number",
    "id": "mb_padding_y",
    "label": "外容器上下内边距",
    "default": 0
  },{
    "type": "number",
    "id": "mb_padding_x",
    "label": "外容器左右内边距",
    "default": 0
  },{
    "type": "number",
    "id": "mb_box_padding_y",
    "label": "内容器上下内边距",
    "default": 0
  },{
    "type": "number",
    "id": "mb_box_padding_x",
    "label": "内容器左右内边距",
    "default": 0
  },
  {
    "type": "text",
    "id": "mb_info_padding",
    "label": "文本内边距"
  },{
    "type": "select",
    "id": "mobile_order",
    "options": [
      {
        "value": "forward",
        "label": "上图下文"
      },
      {
        "value": "reverse",
        "label": "下图上文"
      }
    ],
    "default": "forward",
    "label": "内容布局方式"
  },{
    "type": "select",
    "id": "mobile_content_alignment",
    "options": [
      {
        "value": "left",
        "label": "左对齐"
      },
      {
        "value": "center",
        "label": "居中"
      },
      {
        "value": "right",
        "label": "右对齐"
      }
    ],
    "default": "center",
    "label": "文本对齐方式"
  },{
    "type": "header",
    "content": "修饰"
  },{
    "type": "color",
    "id": "bg_color",
    "label": "内容器背景颜色"
  },{
    "type": "number",
    "id": "border_radius",
    "label": "内容器圆角",
    "default": 0,
    "info": "单位：px"
  },{
    "type": "header",
    "content": "开发拓展"
  },{
    "type": "text",
    "id": "id",
    "label": "id",
    "info": "非必填，一般针对开发来使用"
  },{
    "type": "text",
    "id": "custom_class",
    "label": "自定义容器类名"
  },{
    "type": "textarea",
    "id": "custom_css",
    "label": "自定义样式内容"
  }],
  "blocks": [{
    "type": "heading",
    "name": "heading",
    "settings": [{
      "type": "header",
      "content": "内容"
    },{
      "type": "textarea",
      "id": "heading",
      "default": "Image With Text Title",
      "label": "标题"
    }]
  },{
    "type": "text",
    "name": "text",
    "settings": [{
      "type": "header",
      "content": "内容"
    },{
      "type": "textarea",
      "id": "text",
      "default": "Image With Text Description",
      "label": "副文本"
    },{
      "type": "header",
      "content": "排版"
    },{
      "type": "select",
      "id": "text_style",
        "options": [
          {
            "value": "paragraph",
            "label": "正文"
          },
          {
            "value": "subtitle",
            "label": "副标题"
          },
          {
            "value": "subtext",
            "label": "副文本"
          },
          {
            "value": "custom",
            "label": "自定义"
          }
        ],
        "default": "paragraph",
        "label": "类型"
    },{
      "type": "text",
      "id": "custom_text_style",
      "label": "自定义类名",
      "info": "当类型设置为自定义才生效"
    },{
      "type": "number",
      "id": "text_width",
      "label": "容器宽度",
      "default": 0
    }]
  },{
    "type": "link",
    "name": "link",
    "settings": [{
      "type": "header",
      "content": "内容"
    },{
      "type": "textarea",
      "id": "link_content",
      "default": "Link Text >",
      "label": "链接文案"
    },{
      "type": "url",
      "id": "href",
      "label": "链接"
    },{
      "type": "text",
      "id": "custom_class",
      "label": "自定义类名"
    },{
      "type": "checkbox",
      "id": "new_tab",
      "label": "是否新开tab打开链接",
      "default": false
    }]
  },{
    "type": "image",
    "name": "image",
    "settings": [{
      "type": "header",
      "content": "图片"
    },{
      "type": "image_picker",
      "id": "img",
      "label": "桌面端展示图片"
    },{
      "type": "image_picker",
      "id": "img_mb",
      "label": "移动端展示图片"
    },{
      "type": "header",
      "content": "布局"
    },{
      "type": "number",
      "id": "img_width",
      "label": "桌面端图片最大宽度",
      "default": 0
    },{
      "type": "text",
      "id": "img_margin",
      "label": "桌面端图片外边距",
      "default": "0 30px 0 0"
    },{
      "type": "number",
      "id": "img_mb_width",
      "label": "移动端图片最大宽度",
      "default": 0
    },{
      "type": "text",
      "id": "img_mb_margin",
      "label": "移动端图片外边距",
      "default": "0 0 20px"
    }]
  },{
    "type": "text-image",
    "name": "text-image",
    "settings": [{
      "type": "header",
      "content": "图片"
    },{
      "type": "image_picker",
      "id": "img",
      "label": "桌面端展示图片"
    },{
      "type": "image_picker",
      "id": "img_mb",
      "label": "移动端展示图片"
    },{
      "type": "header",
      "content": "布局"
    },{
      "type": "number",
      "id": "img_width",
      "label": "桌面端图片最大宽度",
      "default": 0
    },{
      "type": "text",
      "id": "img_margin",
      "label": "桌面端图片外边距",
      "default": "20px 0"
    },{
      "type": "number",
      "id": "img_mb_width",
      "label": "移动端图片最大宽度",
      "default": 0
    },{
      "type": "text",
      "id": "img_mb_margin",
      "label": "移动端图片外边距",
      "default": "10px 0"
    }]
  },{
    "type": "html",
    "name": "html",
    "settings": [{
      "type": "html",
      "id": "html",
      "label": "自定义拓展html"
    }]
  },{
    "type": "video",
    "name": "video",
    "settings": [{
      "type": "header",
      "content": "视频"
    },{
      "type": "text",
      "id": "video_pc",
      "label": "桌面端展示视频"
    },{
      "type": "text",
      "id": "video_mb",
      "label": "移动端展示视频"
    },{
      "type": "header",
      "content": "视频封面"
    },{
      "type": "image_picker",
      "id": "img",
      "label": "桌面端视频封面图"
    },{
      "type": "image_picker",
      "id": "img_mb",
      "label": "移动端视频封面图"
    },{
      "type": "header",
      "content": "布局"
    },{
      "type": "number",
      "id": "video_pc_width",
      "label": "桌面端视频宽度",
      "default": 0
    },{
      "type": "number",
      "id": "video_pc_height",
      "label": "桌面端视频高度",
      "default": 0
    },{
      "type": "text",
      "id": "video_pc_margin",
      "label": "桌面端视频外边距",
      "default": "30px 0"
    },{
      "type": "number",
      "id": "video_mb_width",
      "label": "移动端视频宽度",
      "default": 0
    },{
      "type": "number",
      "id": "video_mb_height",
      "label": "移动端视频高度",
      "default": 0
    },{
      "type": "text",
      "id": "video_mb_margin",
      "label": "移动端视频外边距",
      "default": "20px 0"
    }]
  }]
}
{% endschema %}