<section class="index_divider {% if section.settings.show_tag == 2%} is-hidden-mobile-only {% elsif section.settings.show_tag == '3'  %} is-hidden-desktop-only{% else %}{% endif %}">
  <svg width="2560" height="48" viewBox="0 0 2560 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="is-hidden-mobile-only">
    <path d="M0 25.4773L0.178265 23.4852L-2 23.2903V25.4773V48.0002V50.0002H0H2560H2562V48.0002V25.4773V23.6483L2560.18 23.4852L2560 25.4773C2560.18 23.4852 2560.18 23.485 2560.17 23.4847L2560.15 23.483L2560.08 23.4763L2559.78 23.4501C2559.52 23.427 2559.12 23.3926 2558.6 23.3475C2557.55 23.2574 2555.99 23.1245 2553.92 22.9532C2549.78 22.6107 2543.61 22.1148 2535.5 21.501C2519.28 20.2733 2495.29 18.5737 2464.18 16.6854C2401.98 12.9089 2311.33 8.37743 2197.55 5.35653C1970.01 -0.685232 1649.94 -0.685172 1279.87 23.4815C909.943 47.6387 590.005 47.6387 362.553 41.5995C248.828 38.5799 158.226 34.0506 96.0587 30.2765C64.9753 28.3895 41.0008 26.6913 24.7994 25.465C16.6987 24.8519 10.5412 24.3568 6.41001 24.015C4.34441 23.8441 2.78539 23.7116 1.7433 23.6218C1.22226 23.5769 0.830456 23.5427 0.569184 23.5198L0.275338 23.4939L0.202144 23.4874L0.184033 23.4858C0.18012 23.4854 0.178265 23.4852 0 25.4773Z" fill="{{ section.settings.fill_color}}" stroke="url(#paint0_linear_2447_14467-{{section.id}})" stroke-width="4"/>
    <defs>
    <linearGradient id="paint0_linear_2447_14467-{{section.id}}" x1="77.8618" y1="5430.7" x2="2543.48" y2="5430.7" gradientUnits="userSpaceOnUse">
    <stop stop-color="{{ section.settings.line_color_1}}"/>
    <stop offset="0.255208" stop-color="{{ section.settings.line_color_2}}"/>
    <stop offset="0.458333" stop-color="{{ section.settings.line_color_3}}"/>
    <stop offset="0.697917" stop-color="{{ section.settings.line_color_4}}"/>
    <stop offset="0.822917" stop-color="{{ section.settings.line_color_5}}"/>
    <stop offset="1" stop-color="{{ section.settings.line_color_6}}"/>
    </linearGradient>
    </defs>
  </svg>
  <svg width="375" height="12" viewBox="0 0 375 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="is-hidden-desktop-only">
    <path d="M0 6.04545L0.094392 5.04992L-1 4.94615V6.04545V12V13H0H375H376V12V6.04545V5.13578L375.094 5.04992L375 6.04545C375.094 5.04992 375.094 5.04988 375.093 5.0498L375.09 5.04947L375.076 5.0482L375.023 5.04322L374.813 5.02381C374.628 5.00678 374.352 4.98169 373.988 4.94938C373.261 4.88475 372.182 4.79124 370.778 4.6755C367.97 4.44403 363.858 4.12367 358.638 3.76776C348.199 3.05597 333.327 2.20195 315.595 1.63262C280.134 0.494094 233.211 0.493241 187.401 5.05037C141.711 9.59551 94.8841 9.59637 59.4696 8.45932C41.7647 7.89087 26.9175 7.03822 16.4977 6.32778C11.2879 5.97256 7.18522 5.65292 4.38586 5.42217C2.98619 5.30679 1.91238 5.21364 1.18895 5.14938C0.827235 5.11724 0.55312 5.09234 0.369671 5.07548L0.162882 5.05635L0.111205 5.0515L0.0984229 5.0503L0.0953113 5.05001C0.0946689 5.04995 0.094392 5.04992 0 6.04545Z" fill="{{ section.settings.fill_color}}" stroke="url(#paint0_linear_2447_14469-{{section.id}})" stroke-width="1"/>
    <defs>
    <linearGradient id="paint0_linear_2447_14469-{{section.id}}" x1="11.4055" y1="1785.98" x2="372.581" y2="1785.98" gradientUnits="userSpaceOnUse">
    <stop stop-color="{{ section.settings.line_color_1}}"/>
    <stop offset="0.255208" stop-color="{{ section.settings.line_color_2}}"/>
    <stop offset="0.458333" stop-color="{{ section.settings.line_color_3}}"/>
    <stop offset="0.697917" stop-color="{{ section.settings.line_color_4}}"/>
    <stop offset="0.822917" stop-color="{{ section.settings.line_color_5}}"/>
    <stop offset="1" stop-color="{{ section.settings.line_color_6}}"/>
    </linearGradient>
    </defs>
  </svg>
</section>
{% schema %}
{
  "name": "Index Divider",
  "presets": [
    {
      "category": "Index Divider",
      "name": "Index Divider"
    }
  ],
  "settings": [
  {
    "type": "color",
    "id": "fill_color",
    "label": "Fill color",
    "default": "#ffffff"
  },
  {
    "type": "color",
    "id": "line_color_1",
    "label": "Line Color1",
    "default": "#1B85B9"
  },{
    "type": "color",
    "id": "line_color_2",
    "label": "Line Color2",
    "default": "#00D2C4"
  },{
    "type": "color",
    "id": "line_color_3",
    "label": "Line Color3",
    "default": "#8FBEE6"
  },{
    "type": "color",
    "id": "line_color_4",
    "label": "Line Color4",
    "default": "#B3B7F3"
  },{
    "type": "color",
    "id": "line_color_5",
    "label": "Line Color5",
    "default": "#E8A5E7"
  },{
    "type": "color",
    "id": "line_color_6",
    "label": "Line Color6",
    "default": "#FEA570"
  },{
    "type": "select",
    "id": "show_tag",
    "label": "展示模式",
    "default": "1",
    "options": [
      {
        "value": "1",
        "label": "都展示"
      },
      {
        "value": "2",
        "label": "仅在pc展示"
      },
      {
        "value": "3",
        "label": "仅在移动端展示"
      }
    ]
  }
  ]
}
{% endschema %}
  