{% assign pop = page.metafields.global.pop.value %}

<section class="ps-ret bg-black white txt-center over-hide mach-main-section mach-main-section-5">
  <div class="ps-ret tesla-wrap">
    <div class="mixed-img-wrap">
      <div class="media-image-wrap is-hidden-mobile-only">
        <svg width="1920" height="700" viewBox="0 0 1920 700" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1153.45 251.425L1139.33 221.328L1172.45 224.154L1164.6 235.428L1552.06 505.501L1559.92 494.227L1574.03 524.324L1540.91 521.498L1548.77 510.224L1161.3 240.152L1153.45 251.425ZM1133.58 700L1104.79 683.379L1133.58 666.758V680.5H1466.08V666.758L1494.87 683.379L1466.08 700V686.258H1133.58V700Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M804.951 38.3705L1530.32 548.072H2020.97V553.829H1528.5L801.508 42.9884L801.445 42.9383C780.116 26.0871 744.327 8.21852 702.679 5.99011C661.155 3.76836 613.619 17.0754 568.497 62.8521C544.388 87.3105 534.229 125.147 533.25 161.039C532.761 178.936 534.562 196.209 537.977 210.878C541.407 225.609 546.409 237.467 552.152 244.73L555.84 249.394H-100V243.637H544.377C539.376 235.592 535.28 224.682 532.37 212.184C528.836 197.008 526.993 179.241 527.494 160.882C528.493 124.264 538.846 84.732 564.396 58.8103C610.682 11.8532 659.826 -2.06865 702.986 0.240687C745.981 2.54115 782.851 20.9306 804.951 38.3705ZM739.4 113.18C739.403 113.182 739.407 113.184 739.41 113.187L933.245 249.394H691.183L690.718 249.23C659.434 238.189 637.852 217.04 627.853 193.792C617.856 170.55 619.43 145.092 634.73 125.966C655.379 100.155 676.412 92.9582 695.149 94.4877C713.606 95.9944 729.262 105.939 739.4 113.18ZM694.68 100.226C678.152 98.877 658.881 104.995 639.226 129.563C625.49 146.734 623.825 169.856 633.142 191.517C642.409 213.061 662.534 233.044 692.172 243.637H915.037L736.082 117.885L736.073 117.879L736.064 117.872C726.05 110.719 711.482 101.598 694.68 100.226ZM-100 336.479H957.524L954.621 340.931C953.976 341.919 953.331 342.906 952.686 343.892C942.495 359.482 932.456 374.839 925.832 394.092C918.815 414.486 915.597 439.389 920.513 473.533C931.032 546.596 968.684 590.67 1011.42 616.204C1054.28 641.81 1102.35 648.813 1133.44 647.395L1133.51 647.392H2020.97V653.15H1133.64C1101.63 654.597 1052.44 647.414 1008.47 621.147C964.355 594.791 925.598 549.261 914.814 474.353C909.782 439.405 913.042 413.569 920.387 392.219C927.048 372.859 937.043 357.302 946.889 342.237H-100V336.479ZM1047.1 382.39C1030.42 396.639 1015.17 420.158 1014.82 457.417C1014.55 486.837 1028.9 508.014 1047.17 522.651C1065.41 537.254 1087.43 545.218 1102.18 548.072H1348.36L1087.36 363.138C1084.21 363.337 1078.6 364.554 1071.73 367.349C1064.24 370.396 1055.48 375.237 1047.1 382.39ZM1069.56 362.016C1077.47 358.796 1084.3 357.351 1088.23 357.351H1089.15L1366.45 553.829H1101.64L1101.37 553.779C1085.89 550.831 1062.8 542.537 1043.58 527.145C1024.29 511.699 1008.77 488.974 1009.07 457.362C1009.43 418.333 1025.5 393.272 1043.36 378.012C1052.26 370.411 1061.57 365.266 1069.56 362.016Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M968.998 523.981L1104.14 451.258L1106.87 456.328L971.727 529.051L978.239 541.152L945.012 540.158L962.487 511.88L968.998 523.981Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M721.18 217.87L751.414 204.053L748.262 237.145L737.066 229.176L713.595 262.155L724.791 270.123L694.557 283.94L697.708 250.848L708.904 258.816L732.375 225.838L721.18 217.87ZM364.864 280.342L381.485 251.553L398.106 280.342H384.364V306.251H398.106L381.485 335.039L364.864 306.251H378.606V280.342H364.864Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M823.669 200.052L838.496 192.541L837.588 209.137L831.93 205.444C828.241 212.301 824.91 220.475 823.809 228.423L830.311 227.812L823.382 242.92L813.763 229.366L820.869 228.699C821.948 219.98 825.59 211.111 829.511 203.865L823.669 200.052Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M561.404 151.029L537.659 127.766L569.679 118.834L566.258 132.144L692.393 164.561L690.96 170.138L564.825 137.72L561.404 151.029Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M621.274 266.978L797.602 14.3613L798.783 15.1852L622.455 267.802L621.274 266.978Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1003.51 56.4861L844.454 102.547L844.053 101.165L1003.11 55.1035L1003.51 56.4861ZM690.615 166.017L764.025 211.359L763.268 212.583L689.858 167.242L690.615 166.017ZM873.534 188.746L839.707 220.413L838.724 219.362L872.55 187.695L873.534 188.746ZM1055.97 340.392L1148.81 204.368L1150 205.18L1057.16 341.204L1055.97 340.392ZM638.909 245.797H566.447V244.358H683.04V245.797H641.402L710.804 294.869L709.973 296.044L638.909 245.797ZM1104.79 453.072V693.454H1103.35V453.072H1077.44V451.633H1103.35V426.443H1104.79V451.633H1132.86V453.072H1104.79ZM1493.96 645.656L1584.95 510.247L1586.15 511.05L1494.33 647.689L1364.9 555.136L1365.74 553.965L1493.96 645.656Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M692.396 166.27V139.281H690.957V194.699H692.396V167.71H720.465V166.27H692.396ZM1049.59 340.799L1038.92 334.214L1039.67 332.989L1052.34 340.799H1070.24V342.238H1054.67L1082.85 359.618L1082.1 360.843L1051.93 342.238H952.93V340.799H1049.59Z" fill="white"/>
        </svg>          
      </div>
      <div class="media-image-wrap is-hidden-desktop-only">
        <svg width="390" height="225" viewBox="0 0 390 225" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M257.16 80.7971L252.632 71.1406L263.258 72.0474L260.737 75.6645L385.054 162.316L387.575 158.698L392.103 168.355L381.476 167.448L383.997 163.831L259.681 77.18L257.16 80.7971ZM250.784 224.719L241.548 219.387L250.784 214.054V218.463H357.466V214.054L366.703 219.387L357.466 224.719V220.31H250.784V224.719Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M145.348 12.4398L378.078 175.974H535.5V177.821H377.494L144.243 13.9215L144.223 13.9054C137.379 8.49879 125.897 2.76577 112.534 2.05079C99.2116 1.33796 83.9599 5.60744 69.4829 20.2946C61.7479 28.1419 58.4883 40.2815 58.174 51.7973C58.0173 57.5393 58.5949 63.0814 59.6909 67.7879C60.7913 72.5139 62.3961 76.3186 64.2386 78.6489L65.4219 80.1454H-145V78.2981H61.7443C60.1397 75.717 58.8254 72.2168 57.8917 68.2068C56.7579 63.3376 56.1666 57.6372 56.3274 51.7469C56.6481 39.9983 59.9694 27.3146 68.1673 18.9978C83.0176 3.93192 98.7851 -0.534806 112.633 0.206129C126.428 0.944218 138.257 6.84435 145.348 12.4398ZM124.316 36.4418C124.317 36.4426 124.318 36.4434 124.319 36.4442L186.51 80.1454H108.846L108.697 80.0927C98.6595 76.5503 91.7352 69.7647 88.5269 62.3059C85.3193 54.8487 85.8244 46.6807 90.7334 40.5443C97.3586 32.263 104.107 29.9539 110.118 30.4447C116.04 30.9281 121.063 34.1187 124.316 36.4418ZM109.968 32.2859C104.665 31.8529 98.4819 33.8158 92.176 41.6983C87.7686 47.2075 87.2345 54.6261 90.2239 61.5759C93.1971 68.4883 99.6539 74.8995 109.163 78.2981H180.668L123.251 37.9515L123.249 37.9495L123.246 37.9474C120.033 35.6525 115.359 32.7259 109.968 32.2859ZM-145 108.086H194.3L193.368 109.514C193.161 109.832 192.954 110.148 192.748 110.464C189.478 115.466 186.257 120.394 184.131 126.571C181.88 133.114 180.848 141.104 182.425 152.059C185.8 175.501 197.88 189.642 211.593 197.834C225.344 206.049 240.767 208.296 250.742 207.841L250.763 207.84H535.5V209.688H250.806C240.537 210.152 224.752 207.848 210.646 199.42C196.491 190.964 184.057 176.356 180.596 152.322C178.982 141.109 180.028 132.82 182.385 125.97C184.522 119.758 187.728 114.767 190.888 109.933H-145V108.086ZM223.04 122.816C217.688 127.388 212.797 134.934 212.684 146.888C212.595 156.327 217.199 163.122 223.063 167.818C228.915 172.503 235.98 175.058 240.712 175.974H319.697L235.956 116.639C234.948 116.703 233.146 117.094 230.942 117.99C228.54 118.968 225.727 120.521 223.04 122.816ZM230.246 116.279C232.785 115.246 234.974 114.783 236.237 114.783H236.531L325.5 177.821H240.537L240.452 177.805C235.486 176.859 228.076 174.198 221.909 169.26C215.72 164.304 210.741 157.013 210.837 146.871C210.955 134.348 216.108 126.308 221.84 121.412C224.695 118.973 227.684 117.322 230.246 116.279Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M197.981 168.245L241.341 144.912L242.216 146.539L198.856 169.872L200.946 173.754L190.285 173.435L195.892 164.362L197.981 168.245Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M118.469 70.0307L128.17 65.5977L127.159 76.215L123.567 73.6584L116.036 84.2393L119.628 86.7959L109.928 91.229L110.939 80.6116L114.531 83.1682L122.062 72.5873L118.469 70.0307ZM4.14795 90.0744L9.48065 80.8379L14.8134 90.0744H10.4043V98.3873H14.8134L9.48065 107.624L4.14795 98.3873H8.557V90.0744H4.14795Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M151.353 64.3142L156.11 61.9043L155.819 67.229L154.004 66.0442C152.82 68.2441 151.751 70.8668 151.398 73.4168L153.484 73.2209L151.261 78.0682L148.175 73.7194L150.455 73.5053C150.801 70.708 151.969 67.8623 153.228 65.5376L151.353 64.3142Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M67.2072 48.5856L59.5889 41.1216L69.8621 38.2559L68.7646 42.5261L109.234 52.9272L108.774 54.7163L68.3047 44.3153L67.2072 48.5856Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M86.416 85.7867L142.99 4.73633L143.368 5.00066L86.7947 86.051L86.416 85.7867Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M209.053 18.2522L158.022 33.0306L157.893 32.587L208.925 17.8086L209.053 18.2522ZM108.664 53.3945L132.217 67.942L131.974 68.3349L108.421 53.7874L108.664 53.3945ZM167.352 60.6869L156.499 70.8471L156.183 70.5099L167.036 60.3498L167.352 60.6869ZM225.886 109.342L255.674 65.6992L256.055 65.9595L226.268 109.602L225.886 109.342ZM92.074 78.9914H68.8252V78.5295H106.233V78.9914H92.8739L115.141 94.7358L114.874 95.1129L92.074 78.9914ZM241.548 145.494V222.619H241.086V145.494H232.773V145.032H241.086V136.95H241.548V145.032H250.554V145.494H241.548ZM366.413 207.284L395.606 163.838L395.989 164.096L366.531 207.936L325.004 178.241L325.273 177.865L366.413 207.284Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M109.235 53.4756V44.8164H108.773V62.5967H109.235V53.9375H118.241V53.4756H109.235ZM223.84 109.472L220.414 107.359L220.656 106.966L224.72 109.472H230.464V109.934H225.469L234.511 115.51L234.269 115.903L224.589 109.934H192.826V109.472H223.84Z" fill="white"/>
        </svg>          
      </div>
    </div>

    <div class="ps-ret mixed-wrap">
      <div class="mixed-img-title">
        <p class="large-title">{{ section.settings.mian_title }}</p>
      </div>
      <div class="mixed-video-wrap">
        <video class="lazyload" poster="{{ section.settings.tesla_value_img }}" data-src="{{ section.settings.tesla_value_video }}" playsinline loop autoplay muted></video>
      </div>
    </div>
  </div>

  <div class="mixed-part-wrap">
    <div class="mixed-content-wrap">
      <p class="white-grey sub-title">{{ section.settings.sub_title }}</p>
      <p class="title mixed-title">{{ section.settings.mixed_title }}</p>
      <p class="white-grey sub-text mixed-desc">{{ section.settings.mixed_desc }}</p>
    </div>

    <div class="ps-ret mach-icon-wrap">
      <ul class="mach-icon-list mixed-icon-list">
        {% for block in section.blocks %}
          <li class="mach-icon-item">
            <div class="mach-icon-content">
              <div class="mach-icon">{{ block.settings.icon }}</div>
              <p class="mach-icon-title">{{ block.settings.title }}</p>
              <p class="mach-icon-desc">{{ block.settings.desc }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="mixed-info-wrap">
      <div class="info-column">
        <div class="info-row">
          <p class="title mixed-info-title">{{ section.settings.title }}</p>
          <p class="white-grey sub-text mixed-info-desc">{{ section.settings.desc }}</p>
        </div>
        <div class="info-row is-hidden-mobile-only">
          <p class="ps-ret white-grey sub-text mixed-info-desc">
            <span class="num">
              <b>60</b>%
            </span>
            {{ section.settings.desc2 }}
          </p>
          <p class="light-grey mixed-info-tips">{{ section.settings.tips }}</p>
        </div>
      </div>
      <div class="pie-column">
        <div class="pie-img">
          <img src="https://cdn.shopify.com/s/files/1/0521/9411/5753/files/Group_3624.png?v=1675324613">
        </div>
        <div class="info-row is-hidden-desktop-only">
          <p class="ps-ret white-grey sub-text mixed-info-desc">
            <span class="num">
              <b>60</b>%
            </span>
            {{ section.settings.desc2 }}
          </p>
          <p class="light-grey mixed-info-tips">{{ section.settings.tips }}</p>
        </div>
      </div>
    </div>
  </div>

  {% render 'mach-landing-pop'
    section: section,
    color: 'black',
    idx: 3,
    data: pop.d
  %}
</section>

{% schema %}
{
  "name": "Mach Main Section 5",
  "presets": [{
    "category": "Mach Main Section 5",
    "name": "Mach Main Section 5"
  }],
  "settings": [{
    "type": "header",
    "content": "内容"
  },{
    "type": "textarea",
    "id": "mian_title",
    "label": "主标题"
  },{
    "type": "textarea",
    "id": "sub_title",
    "label": "特斯拉阀内容副标题"
  },{
    "type": "textarea",
    "id": "mixed_title",
    "label": "特斯拉阀内容标题"
  },{
    "type": "textarea",
    "id": "mixed_desc",
    "label": "特斯拉阀内容描述"
  },{
    "type": "textarea",
    "id": "title",
    "label": "内容主标题"
  },{
    "type": "textarea",
    "id": "desc",
    "label": "内容描述"
  },{
    "type": "textarea",
    "id": "desc2",
    "label": "第二段内容描述"
  },{
    "type": "textarea",
    "id": "tips",
    "label": "第二段小字文本"
  },{
    "type": "textarea",
    "id": "pop_txt",
    "label": "弹窗按钮文本"
  },{
    "type": "header",
    "content": "图片"
  },{
    "type": "text",
    "id": "tesla_value_img",
    "label": "特斯拉阀视频封面"
  },{
    "type": "header",
    "content": "视频"
  },{
    "type": "text",
    "id": "tesla_value_video",
    "label": "特斯拉阀视频"
  }],
  "blocks": [{
    "type": "icon",
    "name": "icon",
    "settings": [{
      "type": "header",
      "content": "内容"
    },{
      "type": "textarea",
      "id": "icon",
      "label": "图标"
    },{
      "type": "textarea",
      "id": "title",
      "label": "标题"
    },{
      "type": "textarea",
      "id": "desc",
      "label": "描述"
    }]
  }]
}
{% endschema %}
