{% if shop.metafields['global']['storefront_key'].value %}
  {% assign authorization = shop.metafields['global']['storefront_key'].value %}
{% else %}
  {% assign authorization = shop.metafields['global']['storefront_key'] %}
{% endif %}


<script defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js" ></script>

{{ 'DiscountGoods.scss.css' | asset_url | stylesheet_tag }}

{% assign id = section.id %}
{% assign custom_css = section.settings.custom_css %}
{% assign major_product = section.settings.major_product %}

{%- capture major_product_data -%}
  {
    "url": "/products/{{major_product.handle}}",
    "title": "{{major_product.title | escape}}",
    "handle": "{{major_product.handle}}",
    "variants": [
      {%- for variant in major_product.variants -%}
      {
        "id": "{{ variant.id }}",
        "sku": "{{ variant.sku }}",
        "image": "{{ variant.image | img_url: '1024x' }}",
        "price": "{{ variant.price | money }}",
        "priceNum": "{{ variant.price }}",
        "options": {{ variant.options | json }},
        "option": "{{ variant.options[0] | split: ' ' | last | handle }}",
        "color": "{{ variant.options[0] }}",
        "available": {%- if variant.price != 999999999 and variant.available -%}1{%- else -%}0{%- endif -%}
      }{%- if forloop.last == false -%},{%- endif -%}
      {%- endfor -%}
    ]
  }
{%- endcapture -%}

{% style %}

  {% if section.settings.box_title_family != blank -%}
    {{ section.settings.box_title_family | font_face }}
  {% endif %}

  #box_major_product_{{ id }}.box_major_product {
    {%- if section.settings.box_background != blank -%}
      background-color: {{ section.settings.box_background }};
    {% endif %}

    {% if section.settings.box_margin > 0 %}
    padding: {{ section.settings.box_margin }}px 0;
    {% endif %}
  }

  #box_major_product_{{ id }}.box_major_product .box_title{
    {%- if section.settings.box_title_font_size > 0 %}
      font-size: {{ section.settings.box_title_font_size }}px;
    {% endif %}

    {% if section.settings.box_title_color != blank -%}
      color: {{ section.settings.box_title_color }};
    {% endif %}

    {% if section.settings.box_title_family != blank -%}
      font-family: {{ section.settings.box_title_family.family }};
    {% endif %}
  }
  
  {%- if section.settings.display_flex_center == true -%}
    #box_major_product_{{ id }}.box_major_product .model__container{
      justify-content: center;
    }
  {% endif %}

  {% if section.settings.goodsbox_border_radius > 0 %}
    #box_major_product_{{ id }}.box_major_product .discount_good {
      border-radius: {{ section.settings.goodsbox_border_radius }}px;
    }
    #box_major_product_{{ id }}.box_major_product .major_box {
      border-radius: {{ section.settings.goodsbox_border_radius }}px;
    }
  {% endif %}

  {% if section.settings.goodsbox_border_width > 0 %}
    #box_major_product_{{ id }}.box_major_product .discount_good {
      border-width: {{ section.settings.goodsbox_border_width }}px;
      border-style: solid;
    }
    #box_major_product_{{ id }}.box_major_product .major_box {
      border-width: {{ section.settings.goodsbox_border_width }}px;
      border-style: solid;
    }
  {% endif %}

  {% if section.settings.goodsbox_border_width > 0 and section.settings.goodsbox_border_color != blank %}
    #box_major_product_{{ id }}.box_major_product .discount_good {
      border-color: {{ section.settings.goodsbox_border_color }};
    }
    #box_major_product_{{ id }}.box_major_product .major_box {
      border-color: {{ section.settings.goodsbox_border_color }};
    }
  {% endif %}


  {%- if custom_css != blank -%}
    {{ custom_css }}
  {% endif %}
{% endstyle %}

<div id="box_major_product_{{ id }}" class="box_major_product discount_goods__{{ section.settings.branch_style }}">
  <h1 class="box_title">
    {{ section.settings.box_title }}
  </h1>
  {% if major_product != blank %}
    <div id="major_product_{{ major_product.handle }}" class="major_product">
      <div class="major_box">
        <div class="img">
          <a class="product_a" href="/products/{{ major_product.handle }}" target="_blank" rel="noopener noreferrer">
            <div class="imgbox">
              <div class="dicount_txt">
                <p>
                  <span class="off_val"></span>
                  <span>{{ section.settings.off_text }}</span>
                </p>
              </div>
              <img class="lazyload" data-src="{{ major_product | img_url: '1024x' }}" alt="">
            </div>
          </a>
        </div>
        <div class="product_content">
          <p class="title">{{ major_product.title }}</p>
          <div class="desc">{{ major_product.description }}</div>
          <p class="price">
            <span class="discount_p"></span>
            <span class="normal_p"></span>
            <span class="init_p">{{ major_product.price | money }}</span>
          </p>
          <div class="action">
            {% if major_product.variants != blank %}
              <p class="variantTxt">
                {% for option in major_product.options %}
                    {{ option }}{%- if forloop.last == false -%}/{%- endif -%}
                {% endfor %}
              </p>
              <select class="variantSelect" name="variant" data-handle="{{ major_product.handle }}" id="variant-select_{{ major_product.handle }}">
                {% for variant in major_product.variants %}
                  <option value="{{ variant.sku }}">
                    {% for opt in variant.options %}
                      {{ opt }}{%- if forloop.last == false -%}/{%- endif -%}
                  {% endfor %}
                  </option>
                {% endfor %}
              </select>
            {% endif %}

            <div class="flexAct">

              {% if section.settings.display_addcart %}
                <button class="button button-normal addcart" data-v_id="{{ major_product.variants[0].id }}">
                  {{ section.settings.addcart_text }}
                </button>
              {% endif %}
              
              {% if section.settings.display_buynow %}
                <button class="button button-normal buynow" data-v_id="{{ major_product.variants[0].id }}">
                  {{ section.settings.buynow_text }}
                </button>
              {% endif %}
            </div>

            <div class="flexcode">
              {% if section.settings.display_learnmore %}
                <a class="button button-normal learnmore" href="/products/{{ major_product.handle }}" target="_blank" rel="noopener noreferrer">
                  {{ section.settings.learnmore_text }}
                </a>
              {% endif %}
              {% if section.settings.display_copyCode %}
                <div class="copyBox">
                  <span class="copyAct">
                    <span class="codeformat">{{ section.settings.codeTxt }}</span>
                    <span class="codeTxt"></span>
                    <span class="copybtn">
                      <button type="button" class="clipboard_btn" data-clipboard-text="">{{ section.settings.copyTxt }}</button>
                    </span>
                  </span>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>


<script>
  
  $(document).ready(function() {
    var major_product_data = JSON.parse(`{{ major_product_data }}`);
    var skus = [], couponsData = {};
    
    {% for item in major_product.variants %}
      skus.push("{{ item.sku }}");
    {% endfor %}
    $.ajax({
      type: 'GET',
      url: '/apps/pp/shopifyservices/coupons/by_skus',
      data: { "skus": skus, "shopify_domain": "{{ shop.permanent_domain }}" },
      success: function success(body) {
        couponsData = body;
        selectSku(major_product_data.variants[0].sku, major_product_data.handle);
        if (Shopify.designMode) {
          localStorage.setItem('design_mode_couponsData', JSON.stringify(body))
        }
      }
    })

    $(document).on('shopify:section:load', function(e){
      var design_mode_couponsData = localStorage.getItem('design_mode_couponsData');
      if (design_mode_couponsData) {
        couponsData = JSON.parse(design_mode_discount_goods)
      }
    })

    $('#box_major_product_{{ id }} .major_product').on('click', '.buynow', function() {
      var v_id = $(this).data('v_id')
      var line_items = [{
        variant_id: v_id,
        quantity: 1
      }];
      Shopify.theme.bundleBuynow({
        authorization: "{{ authorization }}",
        checkout: {
          line_items: line_items,
          presentment_currency: "{{ shop.currency }}",
          is_upstream_button: true,
          page_type: "product",
          secret: true,
          wallet_name: "Checkout"
        },
        onSuccess: () => {},
        onError: err => {
          this.isBuynow(false);
          $.dialog({ title: err.message, content: err.description, type: 'red' });
        }
      });
    })

    $('#box_major_product_{{ id }} .major_product').on('click', '.addcart', function() {
      var v_id = $(this).data('v_id')
      var variants = [{
        id: v_id,
        quantity: 1
      }];
      Shopify.theme.addItemsToCart(variants, {
        onError: err => $.dialog({ title: err.message, content: err.description, type: 'red' })
      })
    })
  
    $('#box_major_product_{{ id }} .major_product').on('change', '.variantSelect', function() {
      var sku = $(this).val();
      var handle = $(this).data('handle');
      selectSku(sku, handle);
    })

    var clipboard = new ClipboardJS('#box_major_product_{{ id }} .clipboard_btn');

    clipboard.on('success', e => {
      const text = e.trigger.innerText;
      e.trigger.innerText = '{{ section.settings.copiedTxt }}';
      setTimeout(() => e.trigger.innerText = text, 3000);
      e.clearSelection();
    });

    function selectSku(sku, handle) {
      var ajaxDate = couponsData[sku] && couponsData[sku][0];
      var current = major_product_data.variants.filter(v => v.sku == sku);
      
      $(`#major_product_${handle} .product_a img`).attr('src', current[0].image);
      if (ajaxDate) {
        var discount = ajaxDate.value && (parseFloat(ajaxDate.value.replace('-', '')) * 100);
        var discount_text = ajaxDate.value_type === 'fixed_amount' 
          ? `${Shopify.formatMoney(discount, $('body').data('money-format'))}`
          : `${discount / 100}%`
        $(`#major_product_${handle} .dicount_txt`).css('visibility', 'visible');
        $(`#major_product_${handle} .dicount_txt .off_val`).text(discount_text);
        $(`#major_product_${handle} .copyBox`).css('display', 'block');
        $(`#major_product_${handle} .codeTxt`).text(ajaxDate.title);
        $(`#major_product_${handle} .clipboard_btn`).attr('data-clipboard-text', ajaxDate.title);
        $(`#major_product_${handle} .discount_p`).text(Shopify.formatMoney(parseFloat(ajaxDate.variant_price4wscode) * 100, $('body').data('money-format')) );
        $(`#major_product_${handle} .normal_p`).text(Shopify.formatMoney(parseFloat(ajaxDate.variant_price) * 100, $('body').data('money-format')) );
        $(`#major_product_${handle} .init_p`).text('');
        $(`#major_product_${handle} .buynow`).data('v_id', ajaxDate.variant_shopify_id);
        $(`#major_product_${handle} .addcart`).data('v_id', ajaxDate.variant_shopify_id);
      } else {
        $(`#major_product_${handle} .dicount_txt`).css('visibility', 'hidden');
        $(`#major_product_${handle} .copyBox`).css('display', 'none');
        $(`#major_product_${handle} .discount_p`).text('');
        $(`#major_product_${handle} .normal_p`).text('');
        $(`#major_product_${handle} .init_p`).text(current[0].price);
        $(`#major_product_${handle} .buynow`).data('v_id', current[0].id);
        $(`#major_product_${handle} .addcart`).data('v_id', current[0].id);
      }      
      if (current[0].available === 0) {
        $(`#major_product_${handle} .flexAct`).css('display', 'none');
        $(`#major_product_${handle} .init_p`).text(Shopify.translation.soldOut);
      } else {
        $(`#major_product_${handle} .flexAct`).css('display', 'block');
      }
    }
  
  })

</script>

{% schema %}
{
  "name": "Major Product",
  "templates": ["article", "page"],
  "presets": [
    {
      "category": "Custom Dynamic Sections",
      "name": "Major Product"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "重推产品"
    },
    {
      "type": "product",
      "id": "major_product",
      "label": "（必选）Major Product"
    },
    {
      "type": "html",
      "id": "box_title",
      "label": "模块标题"
    },
    {
      "type": "color",
      "id": "box_title_color",
      "label": "模块标题颜色"
    },
    {
      "type": "font_picker",
      "id": "box_title_family",
      "label": "模块标题使用的字体",
      "default": "helvetica_n4"
    },
    {
      "type": "range",
      "id": "box_title_font_size",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "模块标题字体大小",
      "default": 28
    },
    {
      "type": "header",
      "content": "样式 配置"
    },
    {
      "type": "radio",
      "id": "branch_style",
      "label": "基准样式",
      "options": [
        {
          "value": "Anker",
          "label": "Anker"
        },
        {
          "value": "Eufy",
          "label": "Eufy"
        },
        {
          "value": "EufySecurity",
          "label": "EufySecurity"
        },
        {
          "value": "Soundcore",
          "label": "Soundcore"
        },
        {
          "value": "Nebula",
          "label": "Nebula"
        },
        {
          "value": "EufyCM",
          "label": "Eufy Black christmas"
        }
      ],
      "default": "Anker"
    },
    {
      "type": "color",
      "id": "box_background",
      "label": "模块整体的 Background"
    },
    {
      "type": "range",
      "id": "box_margin",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "模块的上下边距 margin",
      "default": 0
    },
    {
      "type": "color",
      "id": "goodsbox_border_color",
      "label": "产品盒子的 border-color"
    },
    {
      "type": "range",
      "id": "goodsbox_border_width",
      "min": 0,
      "max": 10,
      "step": 1,
      "label": "产品盒子的 border-width",
      "default": 0

    },
    {
      "type": "range",
      "id": "goodsbox_border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "产品盒子的 border-radius",
      "default": 0
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "info": "自定义样式（注意：请按照标准的css语法添加样式）"
    },
    {
      "type": "header",
      "content": "按钮和文案 配置"
    },
    {
      "type": "text",
      "id": "off_text",
      "label": "Discount OFF Text",
      "default": "OFF"
    },
    {
      "type": "checkbox",
      "id": "display_copyCode",
      "label": "Show CopyCode",
      "default": true
    },
    {
      "type": "text",
      "id": "codeTxt",
      "label": "Code Text",
      "default": "CODE: "
    },
    {
      "type": "text",
      "id": "copyTxt",
      "label": "Copy Text",
      "default": "Copy"
    },
    {
      "type": "text",
      "id": "copiedTxt",
      "label": "Copied Text",
      "default": "Copied"
    },
    {
      "type": "checkbox",
      "id": "display_buynow",
      "label": "Show BuyNow",
      "default": true
    },
    {
      "type": "text",
      "id": "buynow_text",
      "label": "BuyNow Text",
      "default": "BUY NOW"
    },
    {
      "type": "checkbox",
      "id": "display_addcart",
      "label": "Show AddCart",
      "default": true
    },
    {
      "type": "text",
      "id": "addcart_text",
      "label": "AddCart Text",
      "default": "Add To Cart"
    },
    {
      "type": "checkbox",
      "id": "display_learnmore",
      "label": "Show LearnMore",
      "default": true
    },
    {
      "type": "text",
      "id": "learnmore_text",
      "label": "LearnMore Text",
      "default": "Learn More"
    }
  ]
}
{% endschema %}
