{% assign lang = product.metafields.global %}

{% if lang.t8423_v.value %}
  {% assign t8423_v = lang.t8423_v.value %}
{% else %}
  {% assign t8423_v = lang.t8423_v %}
{% endif %}

<link rel="stylesheet" href="{{ 't8423listing.scss.css' | asset_url }}">
<script src="{{ 't8423listing.js' | asset_url }}" defer="defer"></script>

<div class="t8423listing_2">
  
  <div class="banner_bg2 pc_show">
    <video src="{{ t8423_v.video_1 }}" preload="auto" muted="muted" autoplay="autoplay" loop="loop" style="width: 100%; height: 100%;"></video>
    <div class="banner_2_content">
      <div class="banner_2_btm"></div>
      <p class="banner_2_p1">{{ t8423_v.banner_2_p1 }}</p>
      <p class="banner_2_p2">{{ t8423_v.banner_2_p2 }}</p>
    </div>
  </div>
</div>