{% assign lang = product.metafields.global %}

{% if lang.t8423_v.value %}
  {% assign t8423_v = lang.t8423_v.value %}
{% else %}
  {% assign t8423_v = lang.t8423_v %}
{% endif %}

<link rel="stylesheet" href="{{ 't8423listing.scss.css' | asset_url }}">
<script src="{{ 't8423listing.js' | asset_url }}" defer="defer"></script>

<div class="t8423listing_3">
  
  <div class="banner_bg3 pc_show">
    <img class="pc_show lazyload" data-src="{{ t8423_v.bg3_img }}" alt="">
    <div class="bg3_btm">
      <img class="pc_show lazyload" data-src="{{ t8423_v.bg3_btm_img }}" alt="">
    </div>
    <div class="bg3_content">
      <p class="bg3_p1">{{ t8423_v.bg3_p1 }}</p>
      <p class="bg3_p2">{{ t8423_v.bg3_p2 }}</p>
    </div>
  </div>
</div>