{% if shop.metafields.global.country.value %}
  {% assign country = shop.metafields.global.country.value %}
{% else %}
  {% assign country = shop.metafields.global.country %}
{% endif %}

{% assign section_id = 'shopify-section-' | append: section.id %}

<style>
  [data-enable_sticky="true"] .header, .header-sticky-wrapper .mobile-header {
    background: rgba(255, 255, 255, 0);
  }
  [data-enable_sticky=true] .header.is-hover {
    background: #ffffff;
  }
  #shopify-section-header__icon-bar {
    border-top: none!important;
  }
  .component_sign_up_v2_{{section.id}} {
    position: relative;
    width: 100%;
    margin-top: -64px;
  }
  #{{section_id}} .component-sign-bg img {
    width: 100%;
    vertical-align: top;
  }
  #{{section_id}} .component-sign-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #{{section_id}} .sign-up-form {
    display: flex;
    width: 33vw;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: 14.84vw;
  }
  #{{section_id}} .sign-up-top {
    text-align: {{ section.settings.sign_up_top_text_align }};
  }
  #{{section_id}} .sign-up-title {
    line-height: 1.5;
    word-break: break-all;
    font-weight: 700;
    color: {{ section.settings.title_color }};
    font-size: 2.08vw;
  }
  #{{section_id}} .sign-up-subtitle-wrap {
    {% comment %} display: flex; {% endcomment %}
    {% comment %} align-items: center; {% endcomment %}
    margin-top: 1vw;
  }
  #{{section_id}} .component-sign-up-2 .sign-up-subtitle-wrap {
    display: block;
  }
  #{{section_id}} .sign-up-subtitle {
    line-height: 1.5;
    color: {{ section.settings.subtitle_color }};
    font-size: 1.14vw;
    font-weight: 600;
  }
  #{{section_id}} .sign-up-desc {
    max-width: 572px;
    line-height: 1.5;
    {% comment %} word-break: break-all; {% endcomment %}
    color: {{ section.settings.desc_color }};
    font-size: 14px;
    margin-top: 10px;
  }
  #{{section_id}} .sign-up-type {
    flex-shrink: 0;
    margin-top: 8px;
  }
  #{{section_id}} .sign-up-type input {
    vertical-align: middle;
    display: none;
  }
  #{{section_id}} .sign-up-type i {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #333;
    border-radius: 2px;
    cursor: pointer;
  }
  #{{section_id}} .component-sign-up-2 .sign-up-type i {
    border-color: #fff;
  }
  #{{section_id}} .sign-up-type i:before {
    content: " ";
    position: absolute;
    top: 4px;
    left: 3px;
    width: 8px;
    height: 4px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
  }
  #{{section_id}} .sign-up-type input:checked + i {
    background: #333;
  }
  #{{section_id}} .sign-up-type input:checked + i:before {
    opacity: 1;
    transform: all 0.5s;
  }
  #{{section_id}} .sign-up-type label {
    display: block;
    color: {{ section.settings.sign_up_p_color }};
    margin: 3px 16px 3px 0;
  }
  #{{section_id}} .sign-up-type label span:first-child {
    margin-right: 4px;
  }
  #{{section_id}} .sign-up-input {
    margin-top: 10px;
  }
  #{{ section_id }} .input_button_area {
    position: relative;
    width: 100%;
    max-width: 572px;
    border-radius: 60px;
  }
  #{{ section_id }} .input-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  #{{ section_id }} .component-sign-up-2 .input_button_area {
    border: 1px solid #fff;
  }
  #{{section_id}} .sign-up-input input[type="text"] {
    width: 100%;
    height: 2.92vw;
    min-height: 49px;
    padding: 5px 20px;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: {% if section.settings.input_radius != blank %} {{ section.settings.input_radius }} {% else %} var(--button_border_radius) {% endif %};
    color: {{ section.settings.input_color }};
    background: {{ section.settings.input_bg }};
    padding-right: 12vw;
  }
  #{{ section_id }} .input-icon ~ input[type="text"] {
    padding-left: 70px;
  }
  #{{section_id}} .sign-up-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 3vw;
    height: 2.92vw; 
    min-height: 49px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    font-size: 18px;
    background: {% if section.settings.button_bg != blank %} {{section.settings.button_bg}} {% else %} var(--light_color) {% endif %};
    color: {{section.settings.button_txt_color}};
    border-radius: {% if section.settings.input_radius != blank %} {{ section.settings.input_radius }} {% else %} var(--button_border_radius) {% endif %};;
    margin-left: 12px;
  }
  #{{section_id}} .sign-up-button[disabled] {
    background-color: {{ section.settings.button_disabled_color }};
    pointer-events: none;
    cursor: not-allowed;
  }
  #{{section_id}} .policyBox {
    margin-top: 15px;
    text-align: left;
    font-size: 16px;
    color: {{section.settings.policy_text_color}};
  }
  #{{section_id}} .policy-checkbox {
    display: none;
    width: 15px;
    height: 15px;
  }
  #{{section_id}} .policy-checkbox + i {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
  }
  #{{section_id}} .policy-checkbox + i:before {
    content: " ";
    position: absolute;
    top: 4px;
    left: 3px;
    width: 8px;
    height: 4px;
    border: 2px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
  }
  #{{section_id}} .policy-checkbox:checked + i {
    {% comment %} background: #333; {% endcomment %}
  }
  #{{section_id}} .policy-checkbox:checked + i:before {
    opacity: 1;
    transform: all 0.5s;
  }
  #{{section_id}} .policyBox input[type="checkbox"] {
    vertical-align: middle;
  }
  #{{section_id}} .policyBox span, #{{section_id}} .policyBox a {
    font-size: 14px;
    color: {{section.settings.policy_text_color}};
  }
  #{{section_id}} .policyBox a {
    text-decoration: underline;
  }
  #{{section_id}} .policyBox a:hover {
    color: {{ section.settings.policy_text_hover_color }};
  }
  #{{section_id}} .sign-up-icon {
    text-align: center;
  }
  #{{section_id}} .error-info {
    text-align: left;
    {% comment %} height: 20px; {% endcomment %}
    margin-top: 10px;
  }
  #{{section_id}} .info_tips {
    font-size: 13px;
    color: {{section.settings.info_color}};
    display: none;
  }
  #{{section_id}} .info_success {
    color: {{section.settings.info_success_color}};
  }

  #{{section_id}} .modal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
  }
  #{{section_id}} .modal {
    position: absolute;
    width: 37.5vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4.16vw 4.16vw 3.12vw;
    background: #fff;
    border-radius: 20px;
    text-align: center;
  }
  #{{section_id}} .modal-close {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 2.3vw;
    height: 2.3vw;
    background: #8e8e8e;
    border-radius: 2.3vw;
  }
  #{{section_id}} .modal-close:before, #{{section_id}} .modal-close:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.45vw;
    margin-top: -1px;
    width: 1vw;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
  }
  #{{section_id}} .modal-close:before {
    transform: rotate(-45deg);
  }
  #{{section_id}} .modal-title {
    font-size: 1.56vw;
    font-weight: 700;
    color: #333;
  }
  #{{section_id}} .modal-content {
    font-size: 0.93vw;
    color: #333;
    margin-top: 2vw;
    text-align: justify;
  }
  #{{section_id}} .modal-btns {
    margin-top: 2.5vw;
  }
  #{{section_id}} .modal-btn {
    padding: 0.62vw 6.4vw;
    background: #333;
    color: #fff;
    font-size: 1.14vw;
    border-radius: 60px;
  }

  @media(max-width: 769px) {
    .component_sign_up_v2_{{section.id}} {
      margin-top: -52px;
    }
    #{{section_id}} .sign-up-form {
      width: 100%;
      padding: 0 26px 0 55px;
      margin-left: 0;
      text-align: left;
      justify-content: flex-start;
      padding-top: 70px;
    }
    #{{section_id}} .input-icon {
      height: 16px;
    }
    #{{section_id}} .sign-up-type {
      display: flex;
      align-items: center;
      font-size: 9px;
    }
    #{{section_id}} .sign-up-type i {
      top: 4px;
    }
    #{{ section_id }} .input_button_area {
      flex-direction: column;
      max-width: none;
    }
    #{{ section_id }} .sign-up-input input[type="text"] {
      width: 100%;
      max-width: none;
      min-height: 36px;
      font-size: 12px;
    }
    #{{ section_id }} .input-icon ~ input[type="text"] {
      padding-left: 50px;
      padding-right: 120px;
    }
    #{{ section_id }} .sign-up-button {
      padding: 0 30px;
      margin: 0;
      min-height: 36px;
      font-size: 12px;
    }
    #{{section_id}} .icon-item {
      width: 36px;
      height: 36px;
    }
    #{{section_id}} .component_sign_up_v2 {
      padding: 30px 15px;
    }
    #{{section_id}} .sign-up-title {
      font-size: 22px;
    }
    #{{section_id}} .sign-up-subtitle-wrap {
      display: block;
      margin-top: 10px;
    }
    #{{section_id}} .sign-up-subtitle {
      font-size: 15px;
    }
    #{{section_id}} .component-sign-up-2 .sign-up-subtitle {
      font-size: 9px;
      font-weight: 400;
    }
    #{{section_id}} .sign-up-desc {
      font-size: 8px;
    }
    #{{ section_id }} .policyBox {
      line-height: 2;
    }
    #{{ section_id }} .policyBox span, #{{ section_id }} .policyBox a {
      font-size: 10px;
    }
    #{{section_id}} .modal {
      width: 80vw;
      padding: 50px 30px;
    }
    #{{section_id}} .modal-close {
      width: 22px;
      height: 22px;
      border-radius: 22px;
      top: 10px;
      right: 10px;
    }
    #{{section_id}} .modal-close:before, #{{section_id}} .modal-close:after {
      width: 10px;
      margin-left: -5px;
    }
    #{{section_id}} .modal-title {
      font-size: 15px;
    }
    #{{section_id}} .modal-content {
      font-size: 10px;
      margin-top: 20px;
    }
    #{{section_id}} .modal-btns {
      margin-top: 30px;
    }
    #{{section_id}} .modal-btn {
      display: block;
      margin: 0 auto;
      padding: 0;
      width: 50vw;
      height: 8vw;
      line-height: 8vw;
      font-size: 11px;
    }
  }
  {% if section.settings.custom_css != blank %}
    {{ section.settings.custom_css }}
  {% endif %}
  </style>
  <section class="component_sign_up_v2_{{section.id}} {{section.settings.custom_class}}">
    <div class="component-sign-bg">
      {% render 'lazyload_image',  
        src: section.settings.img_pc,
        alt: section.settings.img_pc.alt,
        width: section.settings.img_pc.width,
        additional_classes: 'banner-bg-img',
        aspect_ratio: section.settings.img_pc.aspect_ratio,
        isSchemaData: true,
        additional_classes: 'is-hidden-mobile-only'
      %}
      {% render 'lazyload_image',  
        src: section.settings.img_mb,
        alt: section.settings.img_mb.alt,
        width: section.settings.img_mb.width,
        additional_classes: 'banner-bg-img',
        aspect_ratio: section.settings.img_mb.aspect_ratio,
        isSchemaData: true,
        additional_classes: 'is-hidden-desktop-only'
      %}
    </div>
    <div class="component-sign-up component-sign-up-{{ section.settings.custom_style}}">
      <div class="sign-up-form">
        <div class="sign-up-top">
          {% if section.settings.sign_up_title != blank %}
          <h3 class="sign-up-title">{{ section.settings.sign_up_title }}</h3>
          {% endif %}
          {% if section.settings.sign_up_subtitle != blank %}
          <div class="sign-up-subtitle-wrap">
            <div class="sign-up-subtitle">{{section.settings.sign_up_subtitle}}</div>
            <div class="sign-up-type">
            <label>
              <span><input type="checkbox"><i></i></span>
              <span class="is-hidden-mobile-only">{{section.settings.sign_up_p1}}</span>
              <span class="is-hidden-desktop-only">{{section.settings.sign_up_p1_mob}}</span>
            </label>
            <label>
              <span><input type="checkbox"><i></i></span>
              <span class="is-hidden-mobile-only">{{section.settings.sign_up_p2}}</span>
              <span class="is-hidden-desktop-only">{{section.settings.sign_up_p2_mob}}</span>
            </label>
          </div>
          </div>
          {% endif %}
        </div>
        <div class="sign-up-input">
          <div class="input_button_area">
            {% if section.settings.input_icon != blank %}
              <img src="{{section.settings.input_icon | image_url}}" class="input-icon">
            {% endif %}
            <input type="text" class="sign_up_input" placeholder="{{section.settings.input_placeholder}}" />
            <button class="sign-up-button">{{section.settings.button_txt}}</button>
          </div>
          <div class="policyBox">
            <label>
              <span>
                <input type="checkbox" class="policy-checkbox" />
                <i></i>
              </span>
              <span>{{ section.settings.policy_text }}</span>
            </label>
          </div>
          <div class="error-info">
            <div class="info_tips info_success">{{ section.settings.info_success }}</div>
            <div class="info_tips info_fill_email">{{ section.settings.info_fill_email }}</div>
            <div class="info_tips info_err_email">{{ section.settings.info_err_email }}</div>
            <div class="info_tips info_select_policy">{{ section.settings.info_select_policy }}</div>
          </div>
        </div>
        {% if section.settings.sign_up_desc != blank %}
          <div class="sign-up-desc">{{ section.settings.sign_up_desc }}</div>
        {% endif %}
      </div>
    </div>
  </section>

  <div class="modal-wrap">
    <div class="modal">
      <a href="javascript:;" class="modal-close"></a>
      <div class="modal-title">{{ section.settings.info_success_title }}</div>
      <div class="modal-content">{{ section.settings.info_success_content }}</div>
      <div class="modal-btns">
        <a href="javascript:;" class="modal-btn">{{ section.settings.info_success_btn }}</a>
      </div>
    </div>
  </div>

  <script>
    $(function() {
      function pushSuccDataLayer(eventLabel) {
        window.dataLayer.push({
          "event": "uaEvent",
          "eventCategory": 'subscribe',
          "eventAction": "{{section.settings.eventAction}}",
          "eventLabel": eventLabel
        })
        window.dataLayer.push({ "event_parameters": null });
        window.dataLayer.push({
          "event": "ga4Event",
          "event_name": "subscribe",
          "event_parameters": {
            "page_group": "{{section.settings.ga4_page_group}}",
            "position": "{{section.settings.ga4_page_position}}",
            "info": eventLabel
          }
        })
        fbq("track", "CompleteRegistration")
      }
      const subscribe_private = {
        timer: null,
        regExp: {
          email: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        },
        isEmail: val => subscribe_private.regExp.email.test(val),
        tip_info: (clas, val) => {
          $('#{{section_id}} .sign-up-button').prop("disabled", false);
          $('#{{section_id}} .info_tips').hide()
          $(`#{{section_id}} .${clas}`).show()
          if (subscribe_private.timer) clearTimeout(subscribe_private.timer);
          subscribe_private.timer = setTimeout(() => { 
            $(`#{{section_id}} .${clas}`).hide();
          }, 8000);
        }
      };
      $('#{{section_id}} .sign-up-button').on('click', function(e) {
        e.stopPropagation();
        e.preventDefault();
        $(this).prop("disabled", true);
        var labels = [];
        var $type = $(this).parents(".sign-up-form").find(".sign-up-type input");
        if ($type.eq(0).prop("checked")) {
          labels.push("{{section.settings.sign_up_p1_deals_type}}");
        }
        if ($type.eq(1).prop("checked")) {
          labels.push("{{section.settings.sign_up_p2_deals_type}}");
        }
        const email_val = $('#{{section_id}} .sign_up_input').val().trim()
        const check_val = $('#{{section_id}} .policy-checkbox').prop('checked')
        if(!email_val) {
          subscribe_private.tip_info('info_fill_email');
          return
        }
        if(email_val && !subscribe_private.isEmail(email_val)) {
          subscribe_private.tip_info('info_err_email');
          return
        }
        if(!check_val) {
          subscribe_private.tip_info('info_select_policy');
          return
        }
        const data = {
          email: email_val,
          brand: '{{section.settings.brand_name}}'
        }
        let subscribe_name = 'subscribe_emails'
        {% if section.settings.deals_type != blank %}
        data.phone_number = null;
        var deals_type = labels.join("_") || 'undefined';
        data.genre = '{{ section.settings.deals_type  }}' + deals_type;
        data.single_brand_subscribe = false;
        data.shopify_domain = "{{ shop.permanent_domain }}";
        data.country_code = "{{ country.code }}";
        data.trigger_subscribe = true
        subscribe_name = 'subscribe_activities_emails'
        {% endif %}
        Shopify.contentCreator.pastApi[subscribe_name]({
          params: data,
          fn: (body) => {
            pushSuccDataLayer(labels.join("_") || undefined);
            $('#{{section_id}} .sign-up-button').prop("disabled", false);
            $('#{{section_id}} .modal-wrap').fadeIn();
          },
          error: (err) => {
            const { responseJSON } = err || {};
            if (responseJSON) {
              subscribe_private.tip_info('info_error', responseJSON.error || responseJSON.err);
            } else {
              subscribe_private.tip_info('info_err_email');
            }
          }
        });
      });
      $('#{{section_id}} .modal-close, #{{section_id}} .modal-btn').on('click', function() {
        $(this).parents(".modal-wrap").fadeOut();
      });
    })
    </script>
  
  {% schema %}
    {
      "name": "page_wlc_subscribe",
      "presets": [
        {
          "name": "page_wlc_subscribe"
        }
      ],
      "settings": [
        {
          "type": "header",
          "content": "全局参数设置"
        },
        {
          "type": "select",
          "id": "custom_style",
          "label": "样式选择",
          "options": [
            {
              "value": "1",
              "label": "样式1"
            },
            {
              "value": "2",
              "label": "样式2"
            }
          ],
          "default": "1"
        },
        {
          "type": "text",
          "id": "brand_name",
          "label": "注册的来源，一般为品牌名",
          "default": "eufy"
        },
        {
          "type": "text",
          "id": "deals_type",
          "label": "订阅类型",
          "info": "不填写代表普通订阅（不需要导出数据的订阅，页脚那种），如果是活动订阅，请填写相关标识"
        },
        {
          "type": "header",
          "content": "Section区域参数"
        },
        {
          "type": "image_picker",
          "id": "img_pc",
          "label": "桌面端展示图片"
        },
        {
          "type": "image_picker",
          "id": "img_mb",
          "label": "移动端展示图片"
        },
        {
          "type": "select",
          "id": "sign_up_top_text_align",
          "label": "内容区域位置（靠左，居中，靠右）",
          "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "center",
              "label": "center"
            },
            {
              "value": "right",
              "label": "right"
            }
          ],
          "default": "center"
        },
        {
          "type": "html",
          "id": "sign_up_title",
          "label": "标题"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "标题颜色",
          "default": "#000"
        },
        {
          "type": "html",
          "id": "sign_up_subtitle",
          "label": "副标题"
        },
        {
          "type": "color",
          "id": "subtitle_color",
          "label": "副标题颜色",
          "default": "#333333"
        },
        {
          "type": "html",
          "id": "sign_up_desc",
          "label": "描述"
        },
        {
          "type": "color",
          "id": "desc_color",
          "label": "描述颜色",
          "default": "#666666"
        },
        {
          "type": "text",
          "id": "sign_up_p1",
          "label": "sign up for产品一",
          "default": "Sign Up for Wired"
        },
        {
          "type": "text",
          "id": "sign_up_p1_mob",
          "label": "sign up for产品一移动端",
          "default": "Sign Up for Wired"
        },
        {
          "type": "text",
          "id": "sign_up_p1_deals_type",
          "label": "产品一deals_type",
          "default": "wired"
        },
        {
          "type": "text",
          "id": "sign_up_p2",
          "label": "sign up for产品二",
          "default": "Sign Up for Solar"
        },
        {
          "type": "text",
          "id": "sign_up_p2_mob",
          "label": "sign up for产品二移动端",
          "default": "Sign Up for Solar"
        },
        {
          "type": "text",
          "id": "sign_up_p2_deals_type",
          "label": "产品二deals_type",
          "default": "solar"
        },
        {
          "type": "color",
          "id": "sign_up_p_color",
          "label": "sgin up for产品颜色",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "表单部分"
        },
        {
          "type": "image_picker",
          "id": "input_icon",
          "label": "输入框图标"
        },
        {
          "type": "text",
          "id": "input_placeholder",
          "label": "输入框提示",
          "default": "Enter email for udates"
        },
        {
          "type": "text",
          "id": "input_radius",
          "label": "输入框圆角",
          "default": "70px"
        },
        {
          "type": "color",
          "id": "input_bg",
          "label": "输入框背景色",
          "default": "#F5F5F7"
        },
        {
          "type": "color",
          "id": "input_color",
          "label": "输入框文案颜色",
          "default": "#000000"
        },
        {
          "type": "text",
          "id": "button_txt",
          "label": "按钮文案",
          "default": "Sign Up"
        },
        {
          "type": "color",
          "id": "button_bg",
          "label": "按钮背景色"
        },
        {
          "type": "color",
          "id": "button_txt_color",
          "label": "按钮文案颜色",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_disabled_color",
          "label": "按钮被禁用时的背景色",
          "info": "一般用在防重提交时的背景色",
          "default": "#666666"
        },
        {
          "type": "html",
          "id": "policy_text",
          "label": "协议文案",
          "default": "I agree to the <a href='/policies/terms-of-service' target='_blank' rel='noopener noreferrer'>Terms of Use</a> and <a href='/policies/privacy-policy' target='_blank' rel='noopener noreferrer'>Privacy Policy</a>."
        },
        {
          "type": "color",
          "id": "policy_text_color",
          "label": "协议文案字体颜色",
          "default": "#999999"
        },
        {
          "type": "color",
          "id": "policy_text_hover_color",
          "label": "协议文案字体颜色",
          "default": "#000000"
        },
        {
          "type": "text",
          "id": "info_success_title",
          "label": "info_success title",
          "default": "Sign Up Successful!"
        },
        {
          "type": "textarea",
          "id": "info_success_content",
          "label": "info_success content"
        },
        {
          "type": "text",
          "id": "info_success_btn",
          "label": "info_success button",
          "default": "Okay. Got it."
        },
        {
          "type": "text",
          "id": "info_fill_email",
          "label": "info_fill_email Text",
          "default": "Please enter your email address."
        },
        {
          "type": "text",
          "id": "info_err_email",
          "label": "info_err_email Text",
          "default": "Please enter a valid email address (Example: name@domain.com)."
        },
        {
          "type": "text",
          "id": "info_select_policy",
          "label": "info_agree_policy Text",
          "default": "Please agree to the Terms of Use and Privacy Policy."
        },
        {
          "type": "color",
          "id": "info_color",
          "label": "错误提示信息的颜色",
          "default": "#ee3749"
        },
        {
          "type": "color",
          "id": "info_success_color",
          "label": "成功提示信息的颜色",
          "default": "#fc9403"
        },
        {
          "type": "header",
          "content": "埋点相关"
        },
        {
          "type": "text",
          "id": "eventAction",
          "label": "GA3埋点的eventAction",
          "default": "wlc_signup"
        },
        {
          "type": "text",
          "id": "ga4_page_group",
          "label": "Ga4的埋点字段",
          "default": "wlc_signup_page"
        },
        {
          "type": "text",
          "id": "ga4_page_position",
          "label": "Ga4的埋点位置",
          "default": "banner"
        },
        {
          "type": "header",
          "content": "开发相关"
        },
        {
          "type": "text",
          "id": "custom_class",
          "label": "自定义类名"
        },
        {
          "type": "textarea",
          "id": "custom_css",
          "label": "自定义样式内容"
        }
      ]
    }
  {% endschema %}