{% if shop.metafields['reviews']['yotpo'].value %}
  {% assign yotpo = shop.metafields['reviews']['yotpo'].value %}
{% else %}
  {% assign yotpo = shop.metafields['reviews']['yotpo'] %}
{% endif %}

{% if variant.metafields['global']['hide_reviews'].value %}
  {% assign hide_reviews = variant.metafields['global']['hide_reviews'].value %}
{% else %}
  {% assign hide_reviews = variant.metafields['global']['hide_reviews'] %}
{% endif %}

{%- if yotpo and yotpo.show_yotpo_reviews == 'true' and hide_reviews != 'true' -%}
  <div class="yotpoReviews wrap" id="yotpoReviews_anchor_point"> 
    <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Reviews-external-details",
  "presets": [
    {
      "category": "Custom Dynamic Sections",
      "name": "Reviews-external-details"
    }
  ]
}
{% endschema %}