{% if template contains 'page' %}
  {% if page.metafields['global']['feature'].value %}
    {% assign feature = page.metafields['global']['feature'].value %}
  {% else %}
    {% assign feature = page.metafields['global']['feature'] %}
  {% endif %}
{% else %}
  {% if product.metafields['global']['feature'].value %}
    {% assign feature = product.metafields['global']['feature'].value %}
  {% else %}
    {% assign feature = product.metafields['global']['feature'] %}
  {% endif %}
{% endif %}

<section class="smartScale-5">
  <div class="box-container">
    <div class="phone is-hidden-mobile-only">
      <div class="phone-wrapper">
        <div class="phone-case">
          <img class="lazyload" data-src="{{ feature.bg_img_pc }}" alt=""/>
          <div class="phone-screen">
            {% for item in feature.list %}
              <picture class="picture-{{forloop.index0}}">
                <img class="lazyload" data-src="{{ item.img_pc }}" alt=""/>
              </picture>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="details-apps">
      {% for item in feature.list %}
        <aside class="smartscale-aside aside-{{ forloop.index0 }}">
          <div class="phone-screen is-hidden-desktop-only">
            <picture class="picture-{{forloop.index0}}">
              <img class="lazyload" data-src="{{ item.img_pc }}" alt=""/>
            </picture>
          </div>
          <div class="app-content">
            <h class="title">{{ item.title }}</h>
            <p class="desc">{{ item.desc }}</p>
          </div>
        </aside>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    const width = window.innerWidth;
    const smartScale_feature = {}
    smartScale_feature.scrollfn = function (event) {
      resizeBox();
    }
    $(window).scroll(
      // 防抖节流
      Shopify.contentCreator.util.throttle(smartScale_feature.scrollfn, 50)
    );
    if(width > 769){
      gsap.utils.toArray('.smartscale-aside').forEach((section,i) => {
      gsap.timeline({
        scrollTrigger: {
          trigger: section,
          start: 'top bottom-=100',
          end: "+=50",
          scrub: true, // 0.5, 以秒计算
          // markers: true
        }
      })
      .to(`.phone-screen picture.picture-${i}`, { opacity: '1'})
      .to(`.aside-${i}`, { opacity: '1'},"<=0")
    });
    gsap.timeline({
        scrollTrigger: {
          trigger: ".smartScale-5",
          start: "top center",
          end: "+=50%",
          // markers: true,
          scrub: true
        }
      })
      .to(".phone-wrapper", { "transform": 'translate(0px, 0px) scale(1, 1)'})
      .to(".details-apps",{ "transform": 'translate(0px, 15vh)'},"<0");
    }else{
      gsap.utils.toArray('.smartscale-aside').forEach((section,i) => {
      gsap.timeline({
        scrollTrigger: {
          trigger: section,
          start: 'top center',
          end: "center-=40%",
          scrub: true, // 0.5, 以秒计算
          // markers: true
        }
      })
      .to(`.aside-${i-1}`, { "opacity": '0',"transform": 'scale(0.8, 0.8)'})
    });
    } 
  })
</script>
{% schema %}
{
  "name": "SmartScaleP2Pro Feature",
  "presets": [
    {
      "category": "SmartScaleP2Pro Feature Sections",
      "name": "SmartScaleP2Pro Feature"
    }
  ],
  "settings": []
}
{% endschema %}