{% if product.metafields.global.nav_list.value %}
  {% assign nav_list = product.metafields.global.nav_list.value %}
{% else %}
  {% assign nav_list = product.metafields.global.nav_list %}
{% endif %}

{% if product.metafields.global.nav_list.value %}
  {% assign nav_list = product.metafields.global.nav_list.value %}
{% else %}
  {% assign nav_list = product.metafields.global.nav_list %}
{% endif %}


{% if nav_list %}
{% else %}
    {% assign nav_list = section.settings.nav_list %}
{% endif %}

{% if section.settings.name %}
    {% assign name = section.settings.name %}
{% else %}
    {% assign name = product.title %}
{% endif %}


{% assign nav = nav_list | split: "," %}

<link rel="stylesheet" href="{{ 'listing_top_bar.scss.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'T8213_top_bar.scss.css' | asset_url }}">

<section class="v2_top_bar_section">
    <div class="v2_top_bar_box">
        <div class="v2_top_bar_inner">
            <p class="top_bar_title">{{ name }}</p>
            <div class="top_mb_part mb-show">
                <p class="top_bar_mb_title">{{ name }}</p>
                <div class="top_bar_button top_bar_mb_button">
                    <div class="box">
                        <a href="{{ section.settings.url }}">{{ section.settings.button }}</a>
                    </div>
                </div>
                <!-- <a class="top_bar_button top_bar_mb_button" href="{{ section.settings.url }}">{{ section.settings.button }}</a> -->
            </div>
            <div class="right-part">
                <nav class="top_bar_page_nav">
                    {% for item in nav %}
                        {% assign arr = item | split: ":" %}
                        {% assign lable = arr | reverse %}
                        <a class="tb_page_nav_item" >{{ lable.first }}</a>
                    {% endfor %}
                </nav>
                <div class="top_bar_button pc-show">
                    <div class="box">
                        <a href="{{ section.settings.url }}">{{ section.settings.button }}</a>
                    </div>
                </div>
                <!-- <a class="top_bar_button pc-show" href="{{ section.settings.url }}">{{ section.settings.button }}</a> -->
            </div>
        </div>
    </div>
</section>

<script>
$(function() {
    let navlist = "{{ nav_list }}"
    let w = $(window).width()
    let pageNavH = w > 768 ? $('.v2_top_bar_box').height(): $('.top_mb_part').height()
    let scrollPoint = []
    let siteNavH = 0
    let isNavClick = true
    let offset = 100
    
    let scrollAction = {
        x: 'undefined', 
        y: 'undefined'
    }

    init()

    function init() {
        dataInit()
        event()
        resize()
        scroll()
    }

    function dataInit() {
        const arr = navlist.split(',')

        arr.map(item => {
            let target = item.split(':')
            scrollPoint.push(target[0])
        })
    }

    function getScrollOffset() {
        let arr = []
        
        scrollPoint.map(item => {
            arr.push($(`#${item}`)[0].offsetTop - offset)
        })

        arr[0] = 0

        return arr
    }

    function event() {
        $('.tb_page_nav_item').eq(0).addClass('active')

        $('.tb_page_nav_item').on('click', function() {
            const idx = $(this).index()
            const arr = getScrollOffset()

            isNavClick = false

            $(this).addClass('active').siblings().removeClass('active')
            $('html,body').animate({
                scrollTop: arr[idx]
            }, 500, 'swing', function () {
                isNavClick = true
            })
        })
    }

    function navAct(idx) {
        $('.tb_page_nav_item').eq(idx).addClass('active').siblings().removeClass('active')
    }

    function resize() {
        window.addEventListener('resize', function() {
            w = $(window).width()
            pageNavH =  w > 768 ? $('.v2_top_bar_box').height(): $('.top_mb_part').height()
            siteNavH = w > 768 ? $('#header').height() : $('.mobile-header').height() 
            
            $('.v2_top_bar_section').height(pageNavH)

            if(w > 768) $('.right-part').css('transform', 'none')
        })
    }

    function scroll() {
        const offsetTop = $('.v2_top_bar_section')[0].offsetTop
        let timer
        let flag = false

        w = $(window).width()
        siteNavH = w > 768 ? $('#header').height() : $('.mobile-header').height()

        $('.v2_top_bar_section').height(pageNavH)

        if(w > 768) window.scrollTo(0, siteNavH)

        document.addEventListener('scroll', function() {
            const scrollTop = $(window).scrollTop()
            const stArr = getScrollOffset()
            const diff = scrollTop - offsetTop

            siteNavH = w > 768 ? $('#header').height() : $('.mobile-header').height() 
            timer && clearTimeout(timer)

            if(scrollTop > offsetTop) {
                $('.v2_top_bar_box').addClass('fixed')
                if(w > 768){
                    if(getScrollDir() === 'up') {
                        $('.v2_top_bar_box').css('transform', 'translateY('+ siteNavH +'px)')
                        if(!flag) timer = setTimeout(() => {
                            $('.v2_top_bar_section').css('z-index', '10')
                            flag = true
                        }, 300)
                    }else {
                        $('.v2_top_bar_box').css('transform', 'none').parents('.v2_top_bar_section').css('z-index', '50')
                        flag = false
                    }
                } else {
                    $('.v2_top_bar_section').css('z-index', '50')
                    if(diff >= 0){
                        const num = diff >= 100 ? 100 : diff
                        $('.right-part').css('transform', 'translateY('+ num +'%)')
                    }
                }
            } else {
                $('.v2_top_bar_box').removeClass('fixed').css('transform', 'none').parents('.v2_top_bar_section').css('z-index', '10')
                if(w <= 768) {
                    $('.right-part').css('transform', 'none')
                }
            }


            if(isNavClick) {
                if(scrollTop >= stArr[0] && scrollTop < stArr[1]) {
                    navAct(0)
                } else if (scrollTop >= stArr[1] && scrollTop < stArr[2]) {
                    navAct(1)
                } else if (scrollTop >= stArr[2] && scrollTop < stArr[3]) {
                    navAct(2)
                } else if (scrollTop >= stArr[3]) {
                    navAct(3)
                }
            }
        })
    }

    function getScrollDir() {
        let dir = ''

        if (typeof scrollAction.x == 'undefined') {
            scrollAction.y = window.pageYOffset
        }

        const diffY = scrollAction.y - window.pageYOffset

        if (diffY < 0) {
            dir = 'down'
        } else if (diffY > 0) {
            dir = 'up'
        }

        scrollAction.y = window.pageYOffset

        return dir
    }
})
</script>


{% schema %}
{
  "name": "T8213_top_bar",
  "presets": [
    {
      "name": "T8213_top_bar"
    }
  ],
  "settings": [{
    "type": "text",
    "id": "name",
    "label": "产品名称"
  }, {
    "type": "textarea",
    "id": "nav_list",
    "label": "页内导航设置",
    "default": "purchase:Purchase,overview:Overview,compare:Compare,faqs:Faqs,reviews:Reviews",
    "info": "格式moudule:name表示模块名称:展示名称，例如purchase:Purchase表示跳转模块名称为purchase，页面导航展示展示名称为Purchase"
  }, {
    "type": "text",
    "id": "button",
    "label": "按钮名称",
    "default": "Buy now"
  }, {
    "type": "url",
    "id": "url",
    "label": "按钮跳转链接"
  }]
}
{% endschema %}