<div class="t8530_feature_3">
  <div class="sec-title-middle">{{ section.settings.title }}</div>
  <div class="sec-description">{{ section.settings.subtitle }}</div>
  <div class="box">
    <span class="num">{{ section.settings.num }}</span>
    <span class="mah">{{ section.settings.mah }}</span>
  </div>
  <img class="lazyload product" data-src="{{ section.settings.image | image_url }}">
</div>

<script>
  $(function() {
    gsap.timeline({
      scrollTrigger: {
        trigger: ".t8530_feature_3",
        start: "bottom bottom",
        toggleClass: "active",
        scrub: true
      }
    });
  })
</script>

{% schema %}
{
  "name": "t8530 feature3",
  "settings": [{
    "type": "textarea",
    "id": "title",
    "label": "标题"
  }, {
    "type": "textarea",
    "id": "subtitle",
    "label": "副标题"
  }, {
    "type": "textarea",
    "id": "num",
    "label": "数字",
    "default": "10,000"
  }, {
    "type": "textarea",
    "id": "mah",
    "label": "单位",
    "default": "mAh"
  }, {
    "type": "image_picker",
    "id": "image",
    "label": "产品图"
  }]
}
{% endschema %}